extends ../layouts/common
block main
    .row
        .col-sm-11.mx-auto
            h4.infor__title.mb-4.fw-bold Thông tin cá nhân
            .section__infor.shadow
                .row
                    .col-sm-4
                        .Boxchange__avatar.mt-5
                            .change__avatar
                                img.avatar__profile.w-100.h-100(src=user[0].avatar, alt='')
                                div.avatar__upload
                                    ion-icon(name="camera")
                                form(name="form-change-avatar", action=`/infor/${user[0]._id}/avatar?_method=PUT`, enctype="multipart/form-data", method="POST")
                                    input.file-upload(type="file" name="avatar" accept="image/*" hidden)
                    .col-sm-8
                        .box__infor    
                            form(action=`/infor/${user[0]._id}?_method=PUT`, method="POST")
                                div
                                    p(style='margin-bottom: 1.2rem')
                                        label Tên tài khoản
                                        span.user-name @#{user[0].username}
                                    p
                                        label Họ tên 
                                            span.text-danger (*)
                                        input.infor__input(maxlength='30', type='text', name='fullname', placeholder='Nhập họ và tên', value=user[0].fullname, required, autocomplete="off")
                                div
                                    p
                                        label Số điện thoại 
                                            span.text-danger (*)
                                        input.infor__input(maxlength='10', type='text', name='phone', placeholder='Nhập số điện thoại', value=user[0].phone, required, autocomplete="off")
                                div
                                    p
                                        label Ngày sinh 
                                            span.text-danger (*)
                                        input#birthday.infor__input(type='date', value=moment(user[0].birthDay).format("YYYY-MM-DD"), name='birthDay', required, autocomplete="off")
                                div
                                    p
                                        label Địa chỉ 
                                            span.text-danger (*)
                                        input#address.infor__input(type='text', placeholder='Nhập địa chỉ hiện tại', value=user[0].address, name='address', required, autocomplete="off")
                                div
                                    p(style='margin: 1.4rem 0 1.8rem 0')
                                        label Email 
                                            span.text-danger (*)
                                        span.email= user[0].email
                                    p
                                        | Hãy nhập chính xác 
                                        span(style='color: red') số điện thoại của bạn hoặc người thân 
                                        | để được thầy cô hỗ trợ nhanh chóng!
                                p.box__update
                                    button.btn__update(type='submit')
                                        | Cập nhật
    if errors.length > 0
        - var msgError = errors
    else if success.length > 0
        - var msgSuccess = success
    script.
        $(document).ready(function () {
            let msgToastError = '#{msgError}';
            if(msgToastError != ''){
                Eggy({
                    title: 'Oops... Có gì đó không đúng',
                    message:  msgToastError,
                    type: 'warning',
                    duration: 5000,
                });
            }

            let msgToastSuccess = '#{msgSuccess}';
            if(msgToastSuccess != ''){
                Eggy({
                    title: 'Thành công',
                    message:  msgToastSuccess,
                    type: 'success',
                    duration: 5000,
                });
            }

            $(".avatar__upload, .avatar__profile").on('click', function() {
                $(".file-upload").click();
            });

            $(".file-upload").change(function() {
                $("form[name=form-change-avatar]").submit();
            })
        })