extends ../layouts/common
block main
    h4.infor__title.mb-4.fw-bold Đổi mật khẩu
    .section__changePass.shadow
        .row
            .col-sm-4
                .banner__changePass
                    img(src='https://scontent.fdad1-1.fna.fbcdn.net/v/t1.6435-9/40527544_1454083628027564_5516095591391690752_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=V7g2U5hpB-wAX9jVZ7E&_nc_ht=scontent.fdad1-1.fna&oh=5bf5da07a163ad710df5db0e73475d71&oe=617BAB2F', alt='')
            .col-sm-8.form__changePass
                form.form__wrapper(name="form-change-password", method="POST")
                    .form__group.mb-4
                        label.col-sm-12(for='passwordOld')
                            | Mật khẩu cũ 
                            span.text-danger (*)
                        .col-sm-12.ps-0
                            input#passwordOld.form-control(type='password', placeholder='Nhập mật khẩu cũ', name='passwordOld', maxlength="30", value=values ? values.passwordOld : '')
                    .form__group.mb-4
                        label.col-sm-12(for='passwordNew')
                            | Mật khẩu mới 
                            span.text-danger (*)
                        .col-sm-12.ps-0
                            input#passwordNew.form-control(type='password', placeholder='Nhập mật khẩu mới', name='passwordNew', maxlength="30", value=values ? values.passwordNew : '')
                    .form__group.pb-4
                        label.col-sm-12(for='passwordConfirm')
                            | Xác nhận mật khẩu
                            span.text-danger (*)
                        .col-sm-12.ps-0
                            input#passwordConfirm.form-control(type='password', placeholder='Nhập lại mật khẩu mới', name='passwordConfirm',  maxlength="30", value=values ? values.passwordConfirm : '')
                    .box__update
                        button.btn__update#btn-change-password(type='submit')
                            | C&#x1EAD;p nh&#x1EAD;t
    - var user = user.id
    if errors.length > 0
        - var msgError = errors
    else if success.length > 0
        - var msgSuccess = success
    script.
        document.addEventListener('DOMContentLoaded', function() {
            // toast message
            let msgToastError = '#{msgError}';
            if(msgToastError != ''){
                Eggy({
                    title: 'Oops... Có gì đó không đúng',
                    message:  msgToastError,
                    type: 'warning',
                    duration: 5000,
                });
            }

            let msgToastSuccess = '#{msgSuccess}';
            if(msgToastSuccess != ''){
                Eggy({
                    title: 'Thành công',
                    message:  msgToastSuccess,
                    type: 'success',
                    duration: 5000,
                });
            }

            $("#btn-change-password").click(function (e) {
                e.preventDefault();
                var userId = "#{user}";
                $("form[name=form-change-password]").attr("action", `/password/change/${userId}?_method=PUT`);
                $("form[name=form-change-password]").submit();
            })
        })