extends ../layouts/admin
block content
    .section.blog__list
        .col-lg-12.grid-margin.stretch-card
            .card
                .card-body
                    h4.card-title
                        | Danh s&aacute;ch b&agrave;i vi&#x1EBF;t
                        p.card-description
                        
                    .d-flex.align-items-center
                        .form-group.mb-0
                            .input-group
                                input.form-control(type='text' placeholder='Nhập từ khóa' name='search')
                                .input-group-append
                                    button.btn.btn-sm.btn-primary(type='submit') T&igrave;m ki&#x1EBF;m
                        .form-group.mb-0.ml-4
                            select.selectpicker.show-tick.border-0(name='category' data-style="btn-outline-light" data-width="auto")
                                option.selected.disabled(value='') -- Tìm kiếm theo thể loại --
                                each category in categories
                                    option(value=`${category._id}`)=category.category
                        .form-group.mb-0 
                            a.btn.btn-outline-primary.btn-icon-text.ml-4.d-flex.align-items-center(href='/blog/list-category')
                                i.mdi.mdi-format-list-bulleted
                                span.ml-2 Danh sách thể loại
                        a.btn.btn-outline-success.btn-icon-text.ml-auto(href='/blog/create')
                            i.mdi.mdi-upload.btn-icon-prepend
                            | Thêm mới bài viết
                    .table-responsive.pt-3
                        table.table.table-hover.text-dark
                            thead
                                tr
                                    th.font-weight-bold #
                                    th.font-weight-bold Ảnh bìa
                                    th.font-weight-bold Ti&ecirc;u &dstrok;&#x1EC1;
                                    th.font-weight-bold Th&#x1EC3; lo&#x1EA1;i
                                    th.font-weight-bold Tác giả
                                    th.font-weight-bold Ng&agrave;y &dstrok;&abreve;ng
                                    th.font-weight-bold Lượt xem
                                    th.font-weight-bold Hành động
                            tbody
                                - var count = 0;
                                each blog in blogs
                                    - count++;
                                    tr
                                        td= count
                                        td.py-1
                                            img(src=`${blog.image}` alt='image')
                                        td.w-25= blog.title
                                        td= blog.BlogCategory[0].category
                                        td= blog.User[0].fullname
                                        td= moment(blog.createdAt).format("DD-MM-YYYY") 
                                        td= blog.view
                                        td
                                            a.btn.btn-secondary.mr-2(href=`/blog/${blog._id}/update`) Sửa
                                            button.btn.btn-danger(type='button' data-id=`${blog._id}` data-toggle='modal' data-target='#delete-blog-modal') Xóa 
                    if pages > 0
                        nav.d-flex.align-items-center.justify-content-center
                            ul.pagination.mt-4
                                if current == 1
                                    li.page-item.disabled
                                        a.page-link(href='#', aria-label='Previous')
                                            span(aria-hidden='true') &laquo;
                                            span.sr-only Previous
                                else
                                    li.page-item
                                        a.page-link(href=`/blog/list`, aria-label='Previous')
                                            span(aria-hidden='true') &laquo;
                                            span.sr-only Previous
                                - var i = (Number(current) > 3 ? Number(current) - 2 : 1);
                                if i !== 1
                                    li.page-item.disabled
                                        a.page-link(href='#') ...
                                - for(; i <= (Number(current) + 2) && i <= pages; i++)
                                    if i == current
                                        li.page-item.active
                                            a.page-link(href=`/blog/list/${i}`)= i
                                    else
                                        li.page-item
                                            a.page-link(href=`/blog/list/${i}`)= i
                                    if i == Number(current) + 2 && i < pages
                                        li.page-item.disabled
                                            a.page-link(href='#') ...
                                if current == pages
                                    li.page-item.disabled
                                        a.page-link(href='#', aria-label='Next')
                                            span(aria-hidden='true') &raquo;
                                            span.sr-only Next
                                else
                                    li.page-item
                                        a.page-link(href=`/blog/list/${pages}`, aria-label='Next')
                                            span(aria-hidden='true') &raquo;
                                            span.sr-only Next

    #delete-blog-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document', style='transition: all 0.3s ease;')
            .modal-content
                .modal-header
                    h4.modal-title.font-weight-bold.text-dark Xác nhận xóa bài viết
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p Hành động này không thể khôi phục.
                    p B&#x1EA1;n &dstrok;&atilde; ch&#x1EAF;c ch&#x1EAF;n mu&#x1ED1;n x&oacute;a!
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Hủy
                    button#btn-delete-blog.btn.btn-danger(type='button') Xác nhận xóa
    form(method='POST' name='delete-blog-form')

    if errors.length > 0
        - var msgError = errors
    else if success.length > 0
        - var msgSuccess = success
    script.
        $(document).ready(function () {
            // toast message
            let msgToastError = '#{msgError}';
            if(msgToastError != ''){
                Eggy({
                    title: 'Oops... Có gì đó không đúng',
                    message:  msgToastError,
                    type: 'warning',
                    duration: 5000,
                });
            }

            let msgToastSuccess = '#{msgSuccess}';
            if(msgToastSuccess != ''){
                Eggy({
                    title: 'Thành công',
                    message:  msgToastSuccess,
                    type: 'success',
                    duration: 5000,
                });
            }

            //Delete
            var blogID;
            var deleteForm = document.forms["delete-blog-form"];
            var btnDeleteBlog = document.getElementById('btn-delete-blog');
            $('#delete-blog-modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); 
                var recipient = button.data('id');  
                blogID = recipient;     
                //- console.log("blogID: "+ blogID);
            });
            btnDeleteBlog.onclick= function(){
                deleteForm.action = '/blog/'+blogID+'/delete?_method=DELETE';
                deleteForm.submit();
            }
            //Search
            $('.input-group-append button').click(function (e) {
                e.preventDefault();
                showBLogs();
            });

            $('input[name=search]').keyup(function(e) {
                showBLogs();
            });

            function showBLogs() {
                var searchString = $('input[name=search]').val();
                $.ajax({
                    method: 'POST',
                    url: '/blog/list',
                    contentType: 'application/json',
                    data: JSON.stringify({query: searchString}),
                    success: function (data) {
                        $("table tbody").replaceWith(data);
                    }
                });
            };

            $("select[name=category]").change(function (e) {
                e.preventDefault();
                var option = $(this).val();
                $.ajax({
                    method: 'POST',
                    url: '/blog/list',
                    contentType: 'application/json',
                    data: JSON.stringify({option: option}),
                    success: function (data) {
                        $("table tbody").replaceWith(data);
                    }
                });
            });
        });
