extends ../layouts/admin
block content
    section.blog__category
        .row
            .col-md-8.grid-margin.stretch-card.mx-auto
                .card
                    .card-body
                        .d-flex.align-items-center.justify-content-between
                            h4.card-title
                                | Danh s&aacute;ch thể loại
                            div
                                button.btn.btn-outline-primary.btn-icon-text.ml-auto(id="btn-add-category" data-toggle='modal' data-target='#add-blog-category-modal')
                                    i.mdi.mdi-upload.btn-icon-prepend
                                    | Thêm mới thể loại
                                a.btn.btn-outline-warning.btn-icon-text.ml-2(href='/blog/list-blog') 
                                    i.mdi.mdi-reload.btn-icon-prepend
                                    | Quay lại
                        .table-responsive.pt-3
                            table.table.table-hover.text-dark
                                thead
                                    tr
                                        th.font-weight-bold #
                                        th.font-weight-bold Tên thể loại
                                        th.font-weight-bold Hành động
                                tbody
                                    - var count = 0;
                                    each category in categories
                                        - count++;
                                        tr
                                            td= count
                                            td= category.category
                                            td(style="width: 15%")
                                                button.btn.btn-danger(type='button' data-id=`${category._id}` data-toggle='modal' data-target='#delete-category-modal') X&oacute;a
    #add-blog-category-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addBlogCateModalLabel' aria-hidden='true')
        .modal-dialog(role='document', style='transition: all 0.3s ease; max-width: 650px')
            .modal-content
                form(method="POST" action="/blog/add-category")
                    .modal-header
                        h4.modal-title.font-weight-bold.text-dark Thêm thể loại bài viết mới
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body.mt-4.mb-4
                        label Tên thể loại
                        input.form-control(type="text" name="category" placeholder="Nhập tên thể loại" required)
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') H&#x1EE7;y
                        button.btn.btn-primary(type='submit') Thêm mới
    #delete-category-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document', style='transition: all 0.3s ease;')
            .modal-content
                .modal-header
                    h4.modal-title.font-weight-bold.text-dark Xác nhận xóa thể loại
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    | B&#x1EA1;n &dstrok;&atilde; ch&#x1EAF;c ch&#x1EAF;n mu&#x1ED1;n x&oacute;a!
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') H&#x1EE7;y
                    button#btn-delete-category.btn.btn-danger(type='button') X&aacute;c nh&#x1EAD;n x&oacute;a
    form(method='POST' name='delete-category-form')
    if errors.length > 0
        - var msgError = errors
    else if success.length > 0
        - var msgSuccess = success
    script.
        document.addEventListener('DOMContentLoaded', function() {
            // toast message
            let msgToastError = '#{msgError}';
            if(msgToastError != ''){
                Eggy({
                    title: 'Oops... Có gì đó không đúng',
                    message:  msgToastError,
                    type: 'warning',
                    duration: 2000,
                });
            }

            let msgToastSuccess = '#{msgSuccess}';
            if(msgToastSuccess != ''){
                Eggy({
                    title: 'Thành công',
                    message:  msgToastSuccess,
                    type: 'success',
                    duration: 2000,
                });
            }

            //delete   
            var categoryID;
            var deleteForm = document.forms["delete-category-form"];
            var btnDeleteCategory = document.getElementById('btn-delete-category');
            $('#delete-category-modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); 
                var recipient = button.data('id');  
                categoryID = recipient;     
            });
            btnDeleteCategory.onclick= function(){
                deleteForm.action = '/blog/'+categoryID+'/delete-category?_method=DELETE';
                deleteForm.submit();
            }
        })