extends ../layouts/common
block main
    section.blog-detail
        .row
            .col-sm-2
                .blog-wrap.pe-0
                    .author-name.pt-2= userBlog.fullname
                    hr
            .col-sm-10
                .blog-wrap
                    h3.fw-bold.mb-4= blog.title
                    .author.d-flex.align-items-center
                        img.rounded-pill(src=userBlog.avatar, width=48, height=48)
                        .ms-3
                            span.author-name= userBlog.fullname
                            span.d-block.mt-2.fs-8.text-secondary= moment(blog.updatedAt).locale("vi").fromNow()
                    .blog-content.mt-4 !{blog.content}
                    .mt-5.mb-4
                        span.bg-light.p-2.rounded.fs-7.blog-category= blogCategory.category
                    .pt-2.pb-2
                        hr
                    .blog-related
                        .blog-related-heading.fw-bold BÀI VIẾT LIÊN QUAN
                        .blog-related-content.mt-5
                            .row
                                each item in blogRelated
                                    .col-sm-4
                                        a.d-block.blog-card.mb-5(href=`/blog/${item.slug}`)
                                            img(src=item.image, alt=item.image)
                                            h5.title.mt-3.mb-3= item.title
                                            .author.d-flex.align-items-center
                                                img(src=item.User[0].avatar, alt='')
                                                .fs-7
                                                    span.ms-2.name= item.User[0].fullname
                                                    span.ms-1.me-1 .
                                                    span= moment(item.updatedAt).locale("vi").fromNow()

