extends ../layouts/admin
block content
    .container
        .col-12.grid-margin.stretch-card
            .card
                .card-body
                    .d-flex.align-items-center.justify-content-between
                        h4.card-title
                            | Chỉnh sửa bài viết
                        a.btn.btn-outline-warning.btn-icon-text.ml-2(href='/blog/list') 
                            i.mdi.mdi-reload.btn-icon-prepend
                            | Quay lại
                    p.card-description
                        | Nhập thông tin bên dưới để chỉnh sửa 1 bài viết
                    form.forms-sample(method='POST' action=`/blog/${blog.id}/update?_method=PUT`)
                        .form-group
                            label.text-dark(for='title') Ti&ecirc;u &Dstrok;&#x1EC1;
                            input#title.form-control(type='text' placeholder='Tiêu đề' name='title' value=`${blog.title}`)
                        .form-group
                            label.text-dark(for='bcID') Th&#x1EC3; lo&#x1EA1;i
                            select#bcID.form-control.col-md-4(name='bcID')
                                each category in categories
                                    option(value=category._id selected=category.id==blog.bcID)= category.category
                        .form-group
                            label.text-dark(for='ckeditor-content') N&#x1ED9;i dung
                            textarea#ckeditor-content.form-control(name='content')=blog.content
                       
                        .form-group
                            label.text-dark(for='image') Hình ảnh
                            input#image.form-control(type='text' placeholder='Nhập link hình ảnh' name='image' value=`${blog.image}`)
                        a.btn.btn-light(href='/blog/list')
                                | H&#x1EE7;y b&#x1ECF;
                        button.btn.btn-primary.ml-4(type='submit')
                            | Lưu cập nhật
                        
    script.
        document.addEventListener('DOMContentLoaded', function() {
            ClassicEditor.create(document.querySelector('#ckeditor-content'));
        })