extends ../layouts/admin
block content
    section.unit__edit
        .row
            .col-md-6.grid-margin.stretch-card.mx-auto
                .card
                    .card-body
                        .d-flex.align-items-center.justify-content-between
                            h4.card-title Chỉnh sửa chuyên đề
                            a.btn.btn-outline-warning.btn-icon-text(href='/units/list') 
                                i.mdi.mdi-reload.btn-icon-prepend
                                | Quay lại
                        p.card-description Nhập thông tin bên dưới để chỉnh sửa 1 chuyên đề
                        form.mt-4(action=`/units/${unit._id}?_method=PUT`, method='POST')
                            .form-group.row
                                label.col-sm-3.col-form-label.font-weight-bold(for='name') Tên chuyên đề
                                .col-sm-9
                                    input#name.form-control(type='text', placeholder='Nhập tên chuyên đề', name='name', required, value=unit.name)
                            .form-group.row
                                label.col-sm-3.col-form-label.font-weight-bold(for='subject') Môn học
                                .col-sm-9
                                    select.form-control.h-75(id='subject', name='subjectID', required)
                                        option.selected --Chọn môn học--
                                        each item in subjects
                                            option(value=item._id, selected= item.id ==unit.subjectID)= item.name + " " + item.gradeID
                            a.btn.btn-light(href='/units/list') Hủy bỏ
                            button.btn.btn-primary.ml-2(type='submit') Lưu lại
    if errors.length > 0
        - var msgError = errors
    else if success.length > 0
        - var msgSuccess = success
    script.
        let msgToastError = '#{msgError}';
        if(msgToastError != ''){
            Eggy({
                title: 'Oops... Có gì đó không đúng',
                message:  msgToastError,
                type: 'warning',
                duration: 5000,
            });
        }

        let msgToastSuccess = '#{msgSuccess}';
        if(msgToastSuccess != ''){
            Eggy({
                title: 'Thành công',
                message:  msgToastSuccess,
                type: 'success',
                duration: 5000,
            });
        } 
    
