extends ../layouts/admin
block content
    .section.competition__ranks
        .col-lg-12.grid-margin.stretch-card
            .card
                .card-body
                    h4.card-title
                        | Bảng xếp hạng thi đấu
                        p.card-description
                        
                    .d-flex.align-items-center
                        .form-group.mb-0
                            .input-group
                                input.form-control(type='text' placeholder='Nhập từ khóa' name='search')
                                .input-group-append
                                    button.btn.btn-sm.btn-primary(type='submit') Tìm kiếm
                        //- .form-group.mb-0.ml-4
                        //-     select.form-control.text-dark.p-2(name='category')
                        //-         option.selected.disabled(value='') -- Tìm kiếm theo thể loại --
                        //-         each category in categories
                        //-             option(value=`${category._id}`)=category.category
                        
                        
                    .table-responsive.pt-3
                        table.table.table-hover.text-dark
                            thead
                                tr
                                    th.font-weight-bold #
                                    th.font-weight-bold Thành viên
                                    th.font-weight-bold Email
                                    th.font-weight-bold Tổng điểm tích lũy
                                    th.font-weight-bold Số trận thắng
                            tbody
                                - var count = 0;
                                each rank in ranks
                                    - count++;
                                    tr
                                        td= count
                                        td
                                            img(src=rank.user[0].avatar)
                                            span.ml-2= rank.user[0].fullname
                                        td= rank.user[0].email
                                        td= Math.round(rank.score) + " điểm"
                                        td= rank.victory
                    if pages > 0
                        nav.d-flex.align-items-center.justify-content-center
                            ul.pagination.mt-4
                                if current == 1
                                    li.page-item.disabled
                                        a.page-link(href='#', aria-label='Previous')
                                            span(aria-hidden='true') &laquo;
                                            span.sr-only Previous
                                else
                                    li.page-item
                                        a.page-link(href=`/competition/ranks`, aria-label='Previous')
                                            span(aria-hidden='true') &laquo;
                                            span.sr-only Previous
                                - var i = (Number(current) > 3 ? Number(current) - 2 : 1);
                                if i !== 1
                                    li.page-item.disabled
                                        a.page-link(href='#') ...
                                - for(; i <= (Number(current) + 2) && i <= pages; i++)
                                    if i == current
                                        li.page-item.active
                                            a.page-link(href=`/competition/ranks/${i}`)= i
                                    else
                                        li.page-item
                                            a.page-link(href=`/competition/ranks/${i}`)= i
                                    if i == Number(current) + 2 && i < pages
                                        li.page-item.disabled
                                            a.page-link(href='#') ...
                                if current == pages
                                    li.page-item.disabled
                                        a.page-link(href='#', aria-label='Next')
                                            span(aria-hidden='true') &raquo;
                                            span.sr-only Next
                                else
                                    li.page-item
                                        a.page-link(href=`/competition/ranks/${pages}`, aria-label='Next')
                                            span(aria-hidden='true') &raquo;
                                            span.sr-only Next