extends ../layouts/admin
block content
    section.subject__edit
        .row
            .col-md-6.grid-margin.stretch-card.mx-auto
                .card
                    .card-body
                        .d-flex.align-items-center.justify-content-between
                            h4.card-title Chỉnh sửa môn học
                            a.btn.btn-outline-warning.btn-icon-text(href='/subjects/list') 
                                i.mdi.mdi-reload.btn-icon-prepend
                                | Quay lại
                        p.card-description Nhập thông tin bên dưới để chỉnh sửa 1 môn học
                        form.mt-4(action=`/subjects/${subject._id}?_method=PUT`, method='POST')
                            .form-group.row
                                label.col-sm-3.col-form-label.text-dark(for='name') Tên môn học
                                .col-sm-9
                                    input#name.form-control(type='text', placeholder='Nhập tên môn học', name='name', value=subject.name, required)
                            .form-group.row
                                label.col-sm-3.col-form-label.text-dark(for='icon') Biểu tượng
                                .col-sm-9
                                    input#icon.form-control(type='text', placeholder='Nhập tên biểu tượng', name='icon', value=subject.icon, required)
                            .form-group.row
                                label.col-sm-3.col-form-label.text-dark(for='thumbnail') Ảnh bìa
                                .col-sm-9
                                    input#thumbnail.form-control(type='text', placeholder='Nhập liên kết ảnh bìa', name='thumbnail', value=subject.thumbnail, required)
                            .form-group.row
                                label.col-sm-3.col-form-label.text-dark(for='grade') Khối
                                .col-sm-9
                                    select.form-control.h-75(id='grade', name='gradeID', required)
                                        option.selected(value='') --Chọn khối--
                                        option(value='12', selected= subject.gradeID == 12) Khối 12
                                        option(value='11', selected= subject.gradeID == 11) Khối 11
                                        option(value='10', selected= subject.gradeID == 10) Khối 10
                            a.btn.btn-light(href='/subjects/list') Hủy bỏ
                            button.btn.btn-primary.ml-2(type='submit') Lưu lại
    if errors.length > 0
        - var msgError = errors
    else if success.length > 0
        - var msgSuccess = success
    script.
        let msgToastError = '#{msgError}';
        if(msgToastError != ''){
            Eggy({
                title: 'Oops... Có gì đó không đúng',
                message:  msgToastError,
                type: 'warning',
                duration: 5000,
            });
        }

        let msgToastSuccess = '#{msgSuccess}';
        if(msgToastSuccess != ''){
            Eggy({
                title: 'Thành công',
                message:  msgToastSuccess,
                type: 'success',
                duration: 5000,
            });
        }
    
