extends ../layouts/admin
block content
    section.subject__list
        .col-lg-12.grid-margin.stretch-card
            .card
                .card-body
                    .card-title Danh sách môn học
                    .d-flex.align-items-center.justify-content-between
                        .form-group.mb-0
                            .input-group
                                input.form-control(type='text', placeholder="Tìm kiếm theo tên")
                                .input-group-append
                                    button.btn.btn-sm.btn-primary(type='button') Search
                        a.btn.btn-outline-success.btn-icon-text(href='/subjects/create') 
                            i.mdi.mdi-upload.btn-icon-prepend
                            | Thêm mới
                    .table-responsive.pt-3
                        table.table.table-bordered
                            thead
                                tr.text-dark
                                    th #
                                    th Tên môn học
                                    th Khối
                                    th Biểu tượng
                                    th Đường dẫn
                                    th.text-center Hành động
                            tbody
                                - var count = 0;
                                each subject in subjects
                                    - count++;
                                    tr
                                        td= count
                                        td.w-25= subject.name
                                        td= subject.gradeID
                                        td
                                            ion-icon(name=subject.icon)
                                        td.w-25= subject.slug
                                        td.text-center(style='width: 15%')
                                            a.btn.btn-secondary.mr-2(href=`/subjects/${subject.id}/edit`) Sửa
                                            button.btn.btn-danger(data-toggle="modal" data-target="#deleteSubjectModal", data-id=subject._id) Xóa
                                form(name="delete-subject-form", method="POST")
                                #deleteSubjectModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deleteSubjectModalLabel', aria-hidden='true')
                                    .modal-dialog(role='document')
                                        .modal-content
                                            .modal-header
                                                h5#deleteSubjectModalLabel.modal-title Xóa môn học
                                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                span(aria-hidden='true') &times;
                                            .modal-body
                                                | Bạn có chắc chắn muốn xóa môn học này không???
                                            .modal-footer
                                                button.btn.btn-secondary(type='button', data-dismiss='modal') Hủy bỏ
                                                button.btn.btn-primary#btn-delete-subject(type='button') Chắc chắn
    if  success.length > 0
        - var msgSuccess = success
    script.
        $(document).ready(function () {
            var deleteSubjectModal = $("#deleteSubjectModal");
            var subjectId;
            var deleteSubjectForm = $('form[name="delete-subject-form"]');
            var btnDeleteSubject = $("#btn-delete-subject");
            
            let msgToastSuccess = '#{msgSuccess}';
            if(msgToastSuccess != ''){
                Eggy({
                    title: 'Thành công',
                    message:  msgToastSuccess,
                    type: 'success',
                    duration: 5000,
                });
            }  
            
            deleteSubjectModal.on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var subjectId = button.data('id');
            })

             //When delete experience btn clicked
            btnDeleteSubject.click(function () {
                deleteSubjectForm.attr("action", `/subjects/${subjectId}?_method=DELETE`);
                deleteSubjectForm.submit();
            })
        })
