extends ../layouts/common
block main
    section.subject__detail
        .row
            .col-sm-8
                .mb-5
                    h2.fw-bold.mb-3=subject.name + " " + subject.gradeID
                    span.mt-4 #{subject.name} khối #{subject.gradeID} có khó không? #{subject.name} khối #{subject.gradeID} học những gì?
                div
                    h5.fw-bold Nội dung môn học
                    .mt-4
                        span= units.length + " chương"
                        span  - 
                        span= lessions.length + " bài học"
                    #accordionSubjectDetail.accordion.mt-4
                        - var index=0;
                        each unit in units
                            - index++;
                            .accordion-item.mb-0
                                h2.accordion-header(id=`heading${index}`)
                                    button.accordion-button.collapsed.text-uppercase(type='button', data-bs-toggle='collapse', data-bs-target=`#collapse${index}`, aria-expanded='false', aria-controls=`collapse${index}`)
                                        | #{unit.name}
                                        - var count = 0;
                                        each lession in lessions
                                            if (lession.unitID == unit.id)
                                                - count++;
                                        span.ms-1.text-lowercase (#{count} bài học)
                                .accordion-collapse.collapse(id=`collapse${index}`, aria-labelledby=`heading${index}`, data-bs-parent='#accordionSubjectDetail')
                                    .accordion-body.p-0
                                        each lession in lessions
                                            if (lession.unitID == unit.id)
                                                a(href=`/learning/${subject.slug}?name=${lession.slug}`).lession__item= lession.name
            .col-sm-4
                .d-flex.align-items-center.flex-column.ps-4
                    h3 Miễn phí
                    div
                        //- a.btn.btn-primary.rounded-pill.mt-3(href=`/learning/${subject.slug}?id=${lession.id}`)
                            span.text-uppercase ôn lý thuyết
                    ul.ps-0.mb-0.pt-4.subject__detail--list
                        li
                            ion-icon(name='barcode-outline')
                            span
                            | Tổng số 
                            b= lessions.length 
                            |  bài học
                        li
                            ion-icon(name='battery-full-outline')
                            span Học mọi lúc, mọi nơi
                    .chart.shadow.mt-4
                        .text-center
                            .d-flex.align-items-center.justify-content-center.mb-3
                                img(src='../img/graph-bar.svg', width='32', alt='')
                                h6.fw-bold.mb-0.ms-3.text-uppercase BẢNG XẾP HẠNG #{subject.name} #{subject.gradeID}
                            button.text-danger.btn-instruct(type='button', data-bs-toggle='modal', data-bs-target='#instructModal')
                                | Cách tính điểm? Xem tại đây!
                            #instructModal.modal.fade(tabindex='-1', aria-labelledby='instructModalLabel', aria-hidden='true')
                                .modal-dialog
                                    .modal-content
                                        .modal-header
                                            h5#instructModalLabel.modal-title
                                                | Cách tính điểm và quy định xếp hạng
                                            button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                                        .modal-body
                                            .mb-3
                                                each instruct in ratingRegulation
                                                    | #{instruct.content}
                            ul.ps-0.mb-0.mt-4
                                each result in results
                                    li.chart__item
                                        each user in users
                                            if (user.id == result.userID)
                                                .position-relative
                                                    img.avatar(src=user.avatar, alt='')
                                                    img.position-absolute.top-0.start-0(src='../img/gold.png', alt='')
                                                span.name= user.fullname
                                        .d-flex.align-items-center
                                            span.me-1= result.score
                                            ion-icon(name='heart-circle')
                                    hr