extends ../layouts/admin
block content
    section.exercise__create
        .col-md-10.grid-margin.stretch-card.mx-auto
            .card
                .card-body
                    .d-flex.align-items-center.justify-content-between
                        div
                            h4.card-title Thêm mới câu hỏi
                            form.forms-sample(action='/exercises/upload', method='post', enctype="multipart/form-data")
                                .d-flex.align-items-center
                                    .file-drop-area
                                        span.fake-btn Chọn tệp
                                        span.file-msg hoặc kéo và thả tệp tại đây
                                        input.file-input(type='file', name='file')
                                        input(type="text", name="lessionID", value=lession._id, hidden)
                                    button.ml-2.btn.btn-sm.btn-primary#btn-submit-add-excel(type="submit") Lưu
                                    button.ml-2.btn.btn-sm.btn-secondary#btn-cancel(type="button") Hủy
                        div
                            if lession.name.includes("Reading") || lession.name.includes("Listening")
                                a.btn.btn-outline-primary.btn-icon-text(href='') 
                                    i.mdi.mdi-database-plus.btn-icon-prepend
                                    | Thêm bài tập đục lỗ
                            a.btn.btn-outline-success.btn-icon-text.ml-4(href='/files/sample-create-exercises.xlsx' download) 
                                i.mdi.mdi-file-excel.btn-icon-prepend
                                | Excel mẫu
                            a.btn.btn-outline-warning.btn-icon-text.ml-4(href=`/subjects/${subject._id}/content`) 
                                i.mdi.mdi-reload.btn-icon-prepend
                                | Quay lại
                    hr
                    div
                        .card-title.text-uppercase #{subject.name} #{subject.gradeID} - #{unit.name}
                        .card-title Bài #{lession.lessionNumber}. #{lession.name}
                    p.card-description Nhập thông tin bên dưới để thêm mới 1 câu hỏi
                    form.mt-4(action="/exercises/create", method='post')
                        input(type='text', name='lessionID', value=lession._id, hidden)
                        .form-group.row
                            .col-sm-12
                                textarea#exercise-question.form-control(type='text', placeholder='Nhập câu hỏi tại đây...', name='question')
                        if subject.name === "Tiếng Anh"
                            .form-group.row
                                label.col-sm-2.col-form-label.text-dark(for='audioUrl') Liên kết audio
                                .col-sm-10
                                    input#audioUrl.form-control(type='text', placeholder='Nhập liên kết file audio tại đây (nếu có)', name='audioUrl')
                        .form-group.row
                            .col-sm-3
                                .text-center.position-relative
                                    input.form-check-input-custom.color-1#custom1(type='radio' name='answer' value='A')
                                    label(for='custom1')
                                        span
                                            img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg', alt='Checked Icon')
                                    .custom-desc Đánh dấu đây là câu trả lời đúng
                                textarea.form-control.option-custom(type='text', placeholder='Nhập 1 tùy chọn câu trả lời tại đây...', name='option1')
                            .col-sm-3
                                .text-center.position-relative
                                    input.form-check-input-custom.color-2#custom2(type='radio' name='answer' value='B')
                                    label(for='custom2')
                                        span
                                            img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg', alt='Checked Icon')
                                    .custom-desc Đánh dấu đây là câu trả lời đúng
                                textarea.form-control.option-custom(type='text', placeholder='Nhập 1 tùy chọn câu trả lời tại đây...', name='option2')
                            .col-sm-3
                                .text-center.position-relative
                                    input.form-check-input-custom.color-3#custom3(type='radio' name='answer' value='C')
                                    label(for='custom3')
                                        span
                                            img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg', alt='Checked Icon')
                                    .custom-desc Đánh dấu đây là câu trả lời đúng
                                textarea.form-control.option-custom(type='text', placeholder='Nhập 1 tùy chọn câu trả lời tại đây...', name='option3')
                            .col-sm-3
                                .text-center.position-relative
                                    input.form-check-input-custom.color-4#custom4(type='radio' name='answer' value='D')
                                    label(for='custom4')
                                        span
                                            img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg', alt='Checked Icon')
                                    .custom-desc Đánh dấu đây là câu trả lời đúng
                                textarea.form-control.option-custom(type='text', placeholder='Nhập 1 tùy chọn câu trả lời tại đây...', name='option4')
                        .form-group.row
                            .col-sm-4
                                select.selectpicker.show-tick.border-0(name='ceID' data-style="btn-outline-light" data-width="100%" required)
                                    option.selected(value='') --Chọn loại câu hỏi--
                                    each category in categories
                                        option(value=category._id)= category.type
                            .col-sm-8
                                textarea#recommend.form-control(type='text', placeholder='Nhập gợi ý cho câu hỏi tại đây...', name='recommend')
                        .form-group.row
                            .col-sm-12
                                textarea#exercise-explain.form-control(type='text', placeholder='Nhập lời giải cho câu hỏi tại đây...', name='explain')
                        .float-right
                            a.btn.btn-secondary(href=`/exercises/detail?lession=${lession._id}`) Hủy bỏ
                            button.btn.btn-primary.ml-2(type='submit') Lưu lại
    if errors.length > 0
        - var msgError = errors
    else if success.length > 0
        - var msgSuccess = success
    script.
        ClassicEditor.create(document.querySelector('#exercise-question'));
        ClassicEditor.create(document.querySelector('#exercise-explain'));
        ClassicEditor.create(document.querySelector('#recommend'));
        var allEditorsOption = $("textarea.option-custom");
        for (var i = 0; i < allEditorsOption.length; i++) {
            ClassicEditor.create(allEditorsOption[i], {
                toolbar: {
                    items: [
                        'uploadImage', 'link', 'subscript', 'superscript', 'MathType', 'ChemType'
                    ],
                    shouldNotGroupWhenFull: true
                },
            });
        }

        $(document).ready(function () {
            let msgToastSuccess = '#{msgSuccess}';
            if(msgToastSuccess != ''){
                Eggy({
                    title: 'Thành công',
                    message:  msgToastSuccess,
                    type: 'success',
                    duration: 5000,
                });
            }

            let msgToastError = '#{msgError}';
            if(msgToastError != ''){
                Eggy({
                    title: 'Oops... Có gì đó không đúng',
                    message:  msgToastError,
                    type: 'warning',
                    duration: 5000,
                });
            }

            var $fileInput = $('.file-input');
            var $droparea = $('.file-drop-area');

            // highlight drag area
            $fileInput.on('dragenter focus click', function() {
                $droparea.addClass('is-active');
            });

            // back to normal state
            $fileInput.on('dragleave blur drop', function() {
                $droparea.removeClass('is-active');
            });

            // change inner text
            $fileInput.on('change', function() {
                var filesCount = $(this)[0].files.length;
                var $textContainer = $(this).prev();

                if (filesCount === 1) {
                    // if single file is selected, show file name
                    var fileName = $(this).val().split('\\').pop();
                    $textContainer.text(fileName);
                    $("#btn-submit-add-excel").show();
                    $("#btn-cancel").show();
                } else {
                    // otherwise show number of files
                    $textContainer.text(filesCount + ' tệp được chọn');
                    $("#btn-submit-add-excel").hide();
                }
            });

            $("#btn-cancel").click(function() {
                $(this).hide();
                $("#btn-submit-add-excel").hide();
                $fileInput.val("");
                $fileInput.prev().text('hoặc kéo và thả tệp tại đây');
            })
        })