extends ../layouts/admin
block content
    section.exercise__create
        .col-md-10.grid-margin.stretch-card.mx-auto
            .card
                .card-body
                    .d-flex.align-items-center.justify-content-between
                        div
                            h4.card-title Thêm mới câu hỏi
                            form.forms-sample(action='/exercises/upload', method='post', enctype="multipart/form-data")
                                .d-flex.align-items-center
                                    .file-drop-area
                                        span.fake-btn Chọn tệp
                                        span.file-msg hoặc kéo và thả tệp tại đây
                                        input.file-input(type='file', name='file')
                                        input(type="text", name="lessionID", value=lession._id, hidden)
                                    button.ml-2.btn.btn-sm.btn-primary#btn-submit-add-excel(type="submit") Lưu
                                    button.ml-2.btn.btn-sm.btn-secondary#btn-cancel(type="button") Hủy
                        div
                            a.btn.btn-outline-primary.btn-icon-text(href='/files/sample-create-exercises.xlsx' download) 
                                i.mdi.mdi-file-excel.btn-icon-prepend
                                | Excel mẫu
                            a.btn.btn-outline-warning.btn-icon-text.ml-4(href=`/subjects/${subject._id}/content`) 
                                i.mdi.mdi-reload.btn-icon-prepend
                                | Quay lại
                    hr
                    div
                        .card-title.text-uppercase #{subject.name} #{subject.gradeID} - #{unit.name}
                        .card-title Bài #{lession.lessionNumber}. #{lession.name}
                    p.card-description Nhập thông tin bên dưới để thêm mới 1 câu hỏi
                    form.mt-4(action="/exercises/create", method='post')
                        input(type='text', name='lessionID', value=lession._id, hidden)
                        .form-group.row
                            label.col-sm-3.col-form-label.text-dark(for='exercise-question') Câu hỏi
                            .col-sm-9
                                textarea#exercise-question.form-control(type='text', placeholder='Nhập câu hỏi', name='question')
                        .form-group.row
                            label.col-sm-3.col-form-label.text-dark(for='option1') Option 1
                            .col-sm-9
                                input#option1.form-control(type='text', placeholder='Nhập option 1', required, name='option1')
                        .form-group.row
                            label.col-sm-3.col-form-label.text-dark(for='option2') Option 2
                            .col-sm-9
                                input#option2.form-control(type='text', placeholder='Nhập option 2', required, name='option2')
                        .form-group.row
                            label.col-sm-3.col-form-label.text-dark(for='option3') Option 3
                            .col-sm-9
                                input#option3.form-control(type='text', placeholder='Nhập option 3', required, name='option3')
                        .form-group.row
                            label.col-sm-3.col-form-label.text-dark(for='option4') Option 4
                            .col-sm-9
                                input#option4.form-control(type='text', placeholder='Nhập option 4', required, name='option4')
                        .form-group.row
                            label.col-sm-3.col-form-label.text-dark(for='answer') Đáp án đúng
                            .col-sm-9
                                input#answer.form-control(type='text', placeholder='Nhập đáp án đúng', required, name='answer')
                        .form-group.row
                            label.col-sm-3.col-form-label.text-dark(for='recommend') Gợi ý
                            .col-sm-9
                                input#recommend.form-control(type='text', placeholder='Nhập gợi ý', required, name='recommend')
                        .form-group.row
                            label.col-sm-3.col-form-label.text-dark(for='exercise-explain') Lời giải
                            .col-sm-9
                                textarea#exercise-explain.form-control(type='text', placeholder='Nhập lời giải', name='explain')
                        .form-group.row
                            label.col-sm-3.col-form-label.text-dark(for='category') Loại câu hỏi
                            .col-sm-9
                                select.form-control.h-75(id='category', name='ceID', required)
                                    option.selected(value='') --Chọn loại câu hỏi--
                                    each category in categories
                                        option(value=category._id)= category.type
                        .float-right
                            a.btn.btn-secondary(href=`/exercises/detail?lession=${lession._id}`) Hủy bỏ
                            button.btn.btn-primary.ml-2(type='submit') Lưu lại
    if errors.length > 0
        - var msgError = errors
    else if success.length > 0
        - var msgSuccess = success
    script.
        $(document).ready(function () {
            ClassicEditor.create(document.querySelector('#exercise-question'));
            ClassicEditor.create(document.querySelector('#exercise-explain'));

            let msgToastSuccess = '#{msgSuccess}';
            if(msgToastSuccess != ''){
                Eggy({
                    title: 'Thành công',
                    message:  msgToastSuccess,
                    type: 'success',
                    duration: 5000,
                });
            }

            let msgToastError = '#{msgError}';
            if(msgToastError != ''){
                Eggy({
                    title: 'Oops... Có gì đó không đúng',
                    message:  msgToastError,
                    type: 'warning',
                    duration: 5000,
                });
            }

            var $fileInput = $('.file-input');
            var $droparea = $('.file-drop-area');

            // highlight drag area
            $fileInput.on('dragenter focus click', function() {
                $droparea.addClass('is-active');
            });

            // back to normal state
            $fileInput.on('dragleave blur drop', function() {
                $droparea.removeClass('is-active');
            });

            // change inner text
            $fileInput.on('change', function() {
                var filesCount = $(this)[0].files.length;
                var $textContainer = $(this).prev();

                if (filesCount === 1) {
                    // if single file is selected, show file name
                    var fileName = $(this).val().split('\\').pop();
                    $textContainer.text(fileName);
                    $("#btn-submit-add-excel").show();
                    $("#btn-cancel").show();
                } else {
                    // otherwise show number of files
                    $textContainer.text(filesCount + ' tệp được chọn');
                    $("#btn-submit-add-excel").hide();
                }
            });

            $("#btn-cancel").click(function() {
                $(this).hide();
                $("#btn-submit-add-excel").hide();
                $fileInput.val("");
                $fileInput.prev().text('hoặc kéo và thả tệp tại đây');
            })
        })