extends ../layouts/common
block main
    section.exercise
        .row
            .col-sm-5.pe-5
                h4.fw-bold.mb-4= lession.name
                ul#myTab.nav.nav-tabs(role='tablist')
                    li.nav-item(role='presentation')
                        button#description-tab.nav-link.active(data-bs-toggle='tab', data-bs-target='#description', type='button', role='tab', aria-controls='description', aria-selected='true')
                            | Mô tả bài tập
                    li.nav-item(role='presentation')
                        button#rank-tab.nav-link(data-bs-toggle='tab', data-bs-target='#rank', type='button', role='tab', aria-controls='rank', aria-selected='false')
                            | Bảng xếp hạng
                    li.nav-item(role='presentation')
                        button#help-tab.nav-link(data-bs-toggle='tab', data-bs-target='#help', type='button', role='tab', aria-controls='help', aria-selected='false')
                            | Trợ giúp
                .tab-content
                    #description.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='description-tab')
                        .mb-4.mt-4
                            button.btn.btn-exercise.btn-padding.rounded-pill.fs-7.me-2 #Quiz
                            a.btn.btn-primary.btn-padding.rounded-pill(href=`/learning/${subject.slug}?name=${lession.slug}`)
                                .d-flex.align-items-center.fs-7
                                    ion-icon(name='book')
                                    span.ms-2 Ôn lý thuyết
                        div
                            blockquote Chọn các đáp án đúng bên phải màn hình và bấm Nộp bài.
                        .mt-5.row
                            .col-sm-4
                                .homework__time
                                    .top
                                        | Thời gian làm bài
                                    .bottom#stopwatch 00:00:00
                            .col-sm-4
                                .score__achieved
                                    .top
                                        | Số điểm đạt được
                                    .bottom
                                        | 0/100
                            .col-sm-4
                                .questions__true
                                    .top
                                        | Số câu đã làm
                                    .bottom
                                        | 0
                    #rank.tab-pane.fade(role='tabpanel', aria-labelledby='rank-tab')
                        table.table.table-striped.mt-4
                            thead
                                tr
                                    th(scope='col') #
                                    th(scope='col') Thành viên
                                    th(scope='col') Điểm
                                    th(scope='col') Thời gian làm
                            tbody
                                tr.align-middle
                                    th(scope='row')
                                        img(src='../img/gold.png', alt='')
                                    td
                                        .d-flex.align-items-center
                                            img.rounded-circle(src='../img/avatar-no-name.png', alt='', width='30')
                                            span.ms-2 Mark
                                    td 100
                                    td 23:10:54 03/09/2020
                    #help.tab-pane.fade(role='tabpanel', aria-labelledby='help-tab')
                        | 3
            .col-sm-7
                .quiz.mb-4
                    - var index=0;
                    - var point=0;
                    - point=100/(exercises.length);
                    each exercise in exercises
                        - index++;
                        .exercise-item.mb-4
                            .d-flex.align-items-center.justify-content-between
                                h6.fw-bold.mb-0 Câu #{index}
                                .d-flex.align-items-center
                                    .d-flex.align-items-center.me-3
                                        ion-icon.text-danger.fs-4(name='heart-circle') 
                                        span.ms-1#score= point
                                    each category in exerciseCategories
                                        if (category.id == exercise.ceID)
                                            button.btn.btn-success.btn-padding.btn-type.rounded-pill.fs-7= category.type
                            .question.mt-2= exercise.question
                            .options.mt-3
                                .form-check.d-flex.align-items-center
                                    if (exercise.option1 == exercise.answer)
                                        input.form-check-input.mt-0.me-3(id=`qa-${index}`, type='radio', name=exercise.id, value=exercise.option1, valid='valid')
                                    else
                                        input.form-check-input.mt-0.me-3(id=`qa-${index}`, type='radio', name=exercise.id, value=exercise.option1)
                                    label.form-check-label(for=`qa-${index}`)
                                        | A. #{exercise.option1}
                                .form-check.d-flex.align-items-center
                                    if (exercise.option2 == exercise.answer)
                                        input.form-check-input.mt-0.me-3(id=`qb-${index}`, type='radio', name=exercise.id, value=exercise.option2, valid='valid')
                                    else
                                        input.form-check-input.mt-0.me-3(id=`qb-${index}`, type='radio', name=exercise.id, value=exercise.option2)
                                    label.form-check-label(for=`qb-${index}`)
                                        | B. #{exercise.option2}
                                .form-check.d-flex.align-items-center
                                    if (exercise.option3 == exercise.answer)
                                        input.form-check-input.mt-0.me-3(id=`qc-${index}`, type='radio', name=exercise.id, value=exercise.option3, valid='valid')
                                    else
                                        input.form-check-input.mt-0.me-3(id=`qc-${index}`, type='radio', name=exercise.id, value=exercise.option3)
                                    label.form-check-label(for=`qc-${index}`)
                                        | C. #{exercise.option3}
                                .form-check.d-flex.align-items-center
                                    if (exercise.option4 == exercise.answer)
                                        input.form-check-input.mt-0.me-3(id=`qd-${index}`, type='radio', name=exercise.id, value=exercise.option4, valid='valid')
                                    else
                                        input.form-check-input.mt-0.me-3(id=`qd-${index}`, type='radio', name=exercise.id, value=exercise.option4)
                                    label.form-check-label(for=`qd-${index}`)
                                        | D. #{exercise.option4}
                            .check-result.mb-3
                                span.message
                                span.answer-true
                            if (exercise.recommend != "")
                                .recommend(id=`recommend-${index}`)
                                    .recommend-header.text-primary.d-inline-flex.align-items-center
                                        span.me-1 Gợi ý
                                        ion-icon(name='sunny')
                                    .recommend-body.mt-4
                                        span.fw-bold Phương pháp giải
                                        .mt-2.recommend-content= exercise.recommend
                            if (exercise.explain != "")
                                .explain(id=`explain-${index}`)
                                    .explain-header.text-primary.d-inline-flex.align-items-center
                                        span.me-1 Xem lời giải
                                        ion-icon(name='sunny')
                                    .explain-body.mt-4
                                        span.fw-bold Lời giải
                                        .mt-2.explain-content= exercise.explain
                .actions.pt-4.d-flex.align-items-center
                    button#btn-check-result.btn.btn-secondary.btn-padding.d-flex.align-items-center.me-2(value="submit")
                        ion-icon(name='checkmark-outline')
                        span.ms-1 Kiểm tra
                    button#btn-next-question.btn.btn-success.btn-padding.d-flex.align-items-center(value="submit")
                        ion-icon(name='arrow-forward-outline')
                        span.ms-1 Câu tiếp theo
                form(name="submit-result-form", method="GET")