extends ../layouts/common
block main
    section.exercise
        .row
            .col-sm-5.pe-5
                h4.fw-bold.mb-4= lession.name
                ul#myTab.nav.nav-tabs(role='tablist')
                    li.nav-item(role='presentation')
                        button#description-tab.nav-link.active(data-bs-toggle='tab', data-bs-target='#description', type='button', role='tab', aria-controls='description', aria-selected='true')
                            | Mô tả bài tập
                    li.nav-item(role='presentation')
                        button#rank-tab.nav-link(data-bs-toggle='tab', data-bs-target='#rank', type='button', role='tab', aria-controls='rank', aria-selected='false')
                            | Bảng xếp hạng
                    li.nav-item(role='presentation')
                        button#help-tab.nav-link(data-bs-toggle='tab', data-bs-target='#help', type='button', role='tab', aria-controls='help', aria-selected='false')
                            | Trợ giúp
                .tab-content
                    #description.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='description-tab')
                        .mb-4.mt-4
                            button.btn.btn-exercise.btn-padding.rounded-pill.fs-7.me-2 #Quiz
                            a.btn.btn-primary.btn-padding.rounded-pill(href=`/learning/${subject.slug}?name=${lession.slug}`)
                                .d-flex.align-items-center.fs-7
                                    ion-icon(name='book')
                                    span.ms-2 Ôn lý thuyết
                        div
                            blockquote Chọn đáp án đúng bên phải màn hình, bấm Kiểm tra để xem kết quả và bấm Câu tiếp theo.
                        .mt-5.row
                            .col-sm-4
                                .homework__time
                                    .top
                                        | Thời gian làm bài
                                    .bottom#stopwatch 00:00:00
                            .col-sm-4
                                .questions__done
                                    .top
                                        | Số câu đã làm
                                    .bottom
                                        | 0
                    #rank.tab-pane.fade(role='tabpanel', aria-labelledby='rank-tab')
                        table.table.table-striped.mt-4
                            thead
                                tr
                                    th(scope='col') #
                                    th(scope='col') Thành viên
                                    th(scope='col') Điểm
                                    th(scope='col') Thời gian làm
                            tbody
                                each rank in ranks
                                    tr.align-middle
                                        th(scope='row')
                                            img(src='../img/gold.png', alt='')
                                        td
                                            .d-flex.align-items-center
                                                img.rounded-circle(src=rank.user[0].avatar, alt='', width='30')
                                                span.ms-2.fs-7= rank.user[0].fullname
                                        td
                                            span.fs-7= Math.round(rank.score)
                                        td
                                            span.fs-7= rank.time
                    #help.tab-pane.fade(role='tabpanel', aria-labelledby='help-tab')
                        | 3
            .col-sm-7
                .quiz.mb-4
                    .exercise-item.mb-4
                        .d-flex.align-items-center.justify-content-between
                            strong.d-block.fw-bold.mb-0 Câu 
                                span.index-qa 1
                            button.btn.btn-success.btn-padding.btn-type.rounded-pill.fs-7= exercises[0].Cate[0].type
                        .question.mt-2 !{exercises[0].question}
                        .options.mt-3
                            .form-check.d-flex.align-items-center
                                input.form-check-input.mt-0.me-3(id="option1", type='radio', name=exercises[0]._id, value=exercises[0].option1)
                                label.form-check-label(for="option1")
                                    | A. #{exercises[0].option1}
                            .form-check.d-flex.align-items-center
                                input.form-check-input.mt-0.me-3(id="option2", type='radio', name=exercises[0]._id, value=exercises[0].option2)
                                label.form-check-label(for="option2")
                                    | B. #{exercises[0].option2}
                            .form-check.d-flex.align-items-center
                                input.form-check-input.mt-0.me-3(id="option3", type='radio', name=exercises[0]._id, value=exercises[0].option3)
                                label.form-check-label(for="option3")
                                    | C. #{exercises[0].option3}
                            .form-check.d-flex.align-items-center
                                input.form-check-input.mt-0.me-3(id="option4", type='radio', name=exercises[0]._id, value=exercises[0].option4)
                                label.form-check-label(for="option4")
                                    | D. #{exercises[0].option4}
                        .check-result.mb-3.d-none
                            span.message
                            span.answer-true
                        if exercises[0].recommend !== null
                            .recommend(id="")
                                .recommend-header.text-primary.d-inline-flex.align-items-center
                                    span.me-1 Gợi ý
                                    ion-icon(name='sunny')
                                .recommend-body.mt-4
                                    span.fw-bold Phương pháp giải
                                    .mt-2.recommend-content= exercises[0].recommend
                        
                .actions.pt-4.d-flex.align-items-center
                    button#btn-next-question.btn.btn-success.btn-padding(value="submit")
                        ion-icon(name='arrow-forward-outline')
                        span.ms-1 Câu tiếp theo
                    button#btn-submit-exercise.btn.btn-primary.btn-padding.ms-2(value="submit")
                        ion-icon(name='arrow-forward-outline')
                        span.ms-1 Nộp bài
                form(name='form-submit-exercise', method='GET')
    - var lessionName = lession.slug
    script.
        $(document).ready(function () {
            var listExercise = !{JSON.stringify(exercises)};
            var currentQa = 0;

            //StopWatch
            $("#stopwatch").stopwatch().stopwatch("start");

            // When btn check clicked
            $("#btn-submit-exercise").click(function (e) {
                e.preventDefault();
                var inputChecked = $(".form-check-input:checked");
                var arrayTemp = [];
                arrayTemp.push({
                    name: inputChecked.attr("name"),
                    value: inputChecked.attr("value"),
                });

                $.ajax({
                    type: "POST",
                    url: $(location).attr("href"),
                    contentType: "application/json",
                    data: JSON.stringify({
                        objectData: arrayTemp,
                        exercise: $(".form-check-input").attr("name"),
                        time: $("#stopwatch").text()
                    }),
                    success: function (data) {
                        console.log(data);
                    },
                });

                var slug = '#{lessionName}';
                window.location.href = `/learning/result?name=${slug}`;
            })

            // When btn next clicked
            $("#btn-next-question").click(function (e) {
                e.preventDefault();
                
                var inputChecked = $(".form-check-input:checked");
                var arrayTemp = [];
                arrayTemp.push({
                    name: inputChecked.attr("name"),
                    value: inputChecked.attr("value"),
                });

                $.ajax({
                    type: "POST",
                    url: $(location).attr("href"),
                    contentType: "application/json",
                    data: JSON.stringify({
                        objectData: arrayTemp,
                        exercise: $(".form-check-input").attr("name"),
                        time: $("#stopwatch").text(),
                    }),
                    success: function (data) {
                        console.log(data);
                    },
                });

                if (inputChecked.length === 0 && (confirm("Bạn muốn bỏ qua câu này?") === false)) {
                    return false;
                }
                
                currentQa++;
                $(".questions__done .bottom").text(currentQa);
                $(".index-qa").text(currentQa+1);
                $(".question").text(listExercise[currentQa].question);
                $(".btn-type").text(listExercise[currentQa].Cate[0].type);
                $(".form-check-input").attr("name", listExercise[currentQa]._id);
                $(".form-check-input[id=option1]").attr("value", listExercise[currentQa].option1);
                $(".form-check-input[id=option2]").attr("value", listExercise[currentQa].option2);
                $(".form-check-input[id=option3]").attr("value", listExercise[currentQa].option3);
                $(".form-check-input[id=option4]").attr("value", listExercise[currentQa].option4);
                $(".form-check-label[for=option1]").text(`A. ${listExercise[currentQa].option1}`);
                $(".form-check-label[for=option2]").text(`B. ${listExercise[currentQa].option2}`);
                $(".form-check-label[for=option3]").text(`C. ${listExercise[currentQa].option3}`);
                $(".form-check-label[for=option4]").text(`D. ${listExercise[currentQa].option4}`);
                $(".recommend-content").text(listExercise[currentQa].recommend);

                if (currentQa == listExercise.length - 1) {
                    $(this).hide();
                    $("#btn-submit-exercise").show();
                }

                $(".form-check-input").prop('checked', false);
            });
        })
        