extends ../layouts/admin
block content
    section.subject__list
        .col-lg-12.grid-margin.stretch-card
            .card
                .card-body
                    .card-title Danh sách báo cáo lỗi
                    .d-flex.align-items-center
                        .form-group.mb-0
                            .input-group
                                input.form-control(type='text', placeholder="Nhập từ khóa", name='search', autocomplete="off")
                                .input-group-append
                                    button.btn.btn-sm.btn-primary(type='submit') Tìm kiếm
                        
                    .table-responsive.pt-3
                        table.table.table-hover.text-dark
                            thead
                                tr
                                    th.font-weight-bold #
                                    th.font-weight-bold Mục lỗi
                                    th.font-weight-bold Nội dung chi tiết
                                    th.font-weight-bold Ngày báo cáo
                                    th.font-weight-bold Hành động
                            tbody
                                - var count = 0;
                                each report in reports
                                    - count++;
                                    tr
                                        td= count
                                        td= report.content
                                        td= report.summary
                                        td= moment(report.createdAt).format("DD-MM-YYYY")
                                        td.text-center(style='width: 15%')
                                            a.btn.btn-secondary.mr-2(href=`/reports/${report.id}/detail`) Chi tiết
                                            button.btn.btn-danger(data-toggle="modal" data-target="#deleteReportModal", data-id=report._id) Xóa
                                form(name="delete-report-form", method="POST")
                                #deleteReportModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deleteReportModalLabel', aria-hidden='true')
                                    .modal-dialog(role='document', style='transition: all 0.3s ease')
                                        .modal-content
                                            .modal-header
                                                strong#deleteReportModalLabel.modal-title.font-weight-bold.text-danger.text-uppercase Xóa báo cáo lỗi
                                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                span(aria-hidden='true') &times;
                                            .modal-body.text-dark
                                                span.d-block.mb-2.mt-2 Hành động này không thể khôi phục!!!
                                                span.d-block.mb-2 Bạn có chắc chắn muốn xóa báo cáo lỗi này không???
                                            .modal-footer
                                                button.btn.btn-secondary(type='button', data-dismiss='modal') Hủy bỏ
                                                button.btn.btn-danger#btn-delete-report(type='button') Chắc chắn
                    if pages > 0
                        nav.d-flex.align-items-center.justify-content-center
                            ul.pagination.mt-4
                                if current == 1
                                    li.page-item.disabled
                                        a.page-link(href='#', aria-label='Previous')
                                            span(aria-hidden='true') &laquo;
                                            span.sr-only Previous
                                else
                                    li.page-item
                                        a.page-link(href=`/reports/list`, aria-label='Previous')
                                            span(aria-hidden='true') &laquo;
                                            span.sr-only Previous
                                - var i = (Number(current) > 3 ? Number(current) - 2 : 1);
                                if i !== 1
                                    li.page-item.disabled
                                        a.page-link(href='#') ...
                                - for(; i <= (Number(current) + 2) && i <= pages; i++)
                                    if i == current
                                        li.page-item.active
                                            a.page-link(href=`/reports/list/${i}`)= i
                                    else
                                        li.page-item
                                            a.page-link(href=`/reports/list/${i}`)= i
                                    if i == Number(current) + 2 && i < pages
                                        li.page-item.disabled
                                            a.page-link(href='#') ...
                                if current == pages
                                    li.page-item.disabled
                                        a.page-link(href='#', aria-label='Next')
                                            span(aria-hidden='true') &raquo;
                                            span.sr-only Next
                                else
                                    li.page-item
                                        a.page-link(href=`/reports/list/${pages}`, aria-label='Next')
                                            span(aria-hidden='true') &raquo;
                                            span.sr-only Next
                    
    if errors.length > 0
        - var msgError = errors
    else if success.length > 0
        - var msgSuccess = success
    script.
        document.addEventListener('DOMContentLoaded', function() {
            var deleteReportModal = $("#deleteReportModal");
            var reportID;
            var deleteReportForm = $('form[name="delete-report-form"]');
            var btnDeleteReport = $("#btn-delete-report");
            
            let msgToastSuccess = '#{msgSuccess}';
            if(msgToastSuccess != '') {
                Eggy({
                    title: 'Thành công',
                    message:  msgToastSuccess,
                    type: 'success',
                    duration: 5000,
                });
            };

            let msgToastError = '#{msgError}';
            if(msgToastError != '') {
                Eggy({
                    title: 'Oops... Có gì đó không đúng',
                    message:  msgToastError,
                    type: 'warning',
                    duration: 5000,
                });
            };

            deleteReportModal.on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                reportID = button.data('id');
            });

             //When delete subject btn clicked
            btnDeleteReport.click(function () {
                deleteReportForm.attr("action", "/reports/" + reportID + "?_method=DELETE");
                deleteReportForm.submit();
            });

            //Search
            $('.input-group-append button').click(function (e) {
                e.preventDefault();
                showReports();
            });

            $('input[name=search]').keyup(function(e) {
                showReports();
            });

            function showReports() {
                var searchString = $('input[name=search]').val();
                $.ajax({
                    method: 'POST',
                    url: '/reports/list',
                    contentType: 'application/json',
                    data: JSON.stringify({query: searchString}),
                    success: function (data) {
                        $("table tbody").replaceWith(data);
                    }
                });
            };
        });
