extends ../layouts/admin
block content
    section.theory__create
        .col-md-9.grid-margin.stretch-card.mx-auto
            .card
                .card-body
                    .d-flex.align-items-center.justify-content-between
                        h4.card-title Thêm mới lý thuyết
                        a.btn.btn-outline-warning.btn-icon-text(href=`/subjects/${subject._id}/content`) 
                            i.mdi.mdi-reload.btn-icon-prepend
                            | Quay lại
                    hr
                    div
                        .card-title.text-uppercase #{subject.name} #{subject.gradeID} - #{unit.name}
                        .card-title Bài #{lession.lessionNumber}. #{lession.name}
                    p.card-description Nhập thông tin bên dưới để thêm mới nội dung lý thuyết
                    
                    //- button.btn.btn-sm.btn-primary(type="button" data-toggle="popover" title="Popover title" data-content='<form><input type="text"/></form>') Chuyển đổi
                    //- #popover-form.d-none
                    //-     input(type='text', placeholder='Dán liên kết lưu trữ file audio tại đây...')
                    //-     button.btn.btn-primary Chuyển đổi

                    form.mt-4(name='add-theory-form', action='/theories/create', method='post')
                        input(type='text', name='lessionID', value=lession._id, hidden)
                        textarea#content-theory.form-control(type='text', placeholder='Nhập nội dung lý thuyết tại đây...', name='content')
                        
                        .form-group.row.mt-4
                            label.col-sm-2.col-form-label.text-dark(for='audioUrl') Liên kết audio
                            .col-sm-10
                                input#audioUrl.form-control(type='text', placeholder='Nhập liên kết file audio tại đây (nếu có)', name='audioUrl')
                        .text-center.mt-4
                            button.btn.btn-primary.ml-2#btn-add-theory(type='submit') Lưu lại
    if errors.length > 0
        - var msgError = errors
    script.
        ClassicEditor.create(document.querySelector('#content-theory'));

        $(document).ready(function () {
            let msgToastError = '#{msgError}';
            if(msgToastError != ''){
                Eggy({
                    title: 'Oops... Có gì đó không đúng',
                    message:  msgToastError,
                    type: 'warning',
                    duration: 5000,
                });
            }
        })