extends ../layouts/admin
block content
    section.qa__detail
        .row
            .col-md-10.grid-margin.stretch-card.mx-auto
                .card
                    .card-body
                        .d-flex.align-items-center.justify-content-between
                            h4.card-title Chi tiết câu hỏi
                            a.btn.btn-outline-warning.btn-icon-text(href='/qa/list') 
                                i.mdi.mdi-reload.btn-icon-prepend
                                | Quay lại
                        //- form.mt-4(action=`/qa/${qa[0]._id}/browser?_method=PUT`, method='POST')
                        div
                            input(type="text" name="action" value="edit" hidden)
                            .form-group.row.text-dark
                                label.col-sm-3.fw-primary Liên kết đến trang
                                .col-sm-9
                                    a(href=`/qa/${qa[0].slug}` target="_blank")= qa[0].slug
                            .form-group.row.text-dark
                                label.col-sm-3.fw-primary Chủ đề
                                .col-sm-9
                                    span= qa[0].topic
                            .form-group.row.text-dark
                                label.col-sm-3.fw-primary Tiêu đề
                                .col-sm-9
                                    span= qa[0].title
                            .form-group.row.text-dark
                                label.col-sm-3.fw-primary Ảnh mô tả
                                .col-sm-9
                                    if qa[0].thumbnail !== ""
                                        img(src=qa[0].thumbnail width=100 height=100 style='object-fit: cover')
                                    else
                                        div Không có ảnh mô tả.
                            .form-group.row.text-dark
                                label.col-sm-3.fw-primary Nội dung
                                .col-sm-9
                                    div !{qa[0].content}
                            .form-group.row.text-dark
                                label.col-sm-3.fw-primary Lượt xem
                                .col-sm-9
                                    span= qa[0].numViews
                            .form-group.row.text-dark
                                label.col-sm-3.fw-primary Bình luận
                                .col-sm-9
                                    span= qa[0].numComments + " câu trả lời"
                            .table-responsive.pt-3
                                table.table.table-hover.text-dark
                                    thead
                                        tr
                                            th #
                                            th Thành viên
                                            th Câu trả lời
                                            th Lượt thích
                                            th Hoạt động
                                            th Trạng thái
                                            th Báo cáo
                                            th Hành động
                                    tbody
                                        if comments.length > 0
                                            each cmt, index in comments
                                                tr
                                                    td= index + 1
                                                    td.d-flex.align-items-center
                                                        img(src=cmt.user[0].avatar)
                                                        span.ml-2= cmt.user[0].fullname
                                                    td= cmt.content
                                                    td= cmt.numLikes
                                                    td= moment(cmt.createdAt).format("DD/MM/YYYY HH:mm")
                                                    if cmt.isApproved
                                                        td
                                                            h4.badge.badge-success Cho phép
                                                    else
                                                        td
                                                            h4.badge.badge-danger Không cho phép
                                                    td= cmt.commentReports.length
                                                    td
                                                        button.btn.btn-danger(type="button" data-toggle="modal" data-target="#deleteQaModal", data-id) Xóa
                                        else
                                            tr
                                                td(colspan='8').text-center Không có dữ liệu. 
                            //- .mt-5
                            //-     a.btn.btn-light(href='/qa/list') Hủy bỏ
                            //-     button.btn.btn-primary.ml-4(type='submit') Cập nhật