extends ../layouts/common
block main
    section.my-qa
        .row
            .col-sm-10.mx-auto
                h4.mb-4.fw-bold Câu hỏi của tôi
                ul.nav.nav-tabs
                    li.nav-item
                        a.nav-link.active(data-bs-toggle='tab', href='#waiting-for-review') Đang chờ 
                            if countMyQaWait !== 0
                                span (#{countMyQaWait})
                    li.nav-item
                        a.nav-link(data-bs-toggle='tab', href='#published') Đã đăng 
                            if countMyQaPublish !== 0
                                span (#{countMyQaPublish})
                .tab-content.mt-5
                    #waiting-for-review.tab-pane.active
                        each item in myQa
                            if !item.isApproved
                                .d-flex.align-items-center.justify-content-between
                                    div
                                        h5.mb-4
                                            a(href=`/qa/${item._id}/edit`)= item.title
                                        span.text-secondary.fs-7 Chỉnh sửa #{moment(item.updatedAt).locale("vi").fromNow()}
                                    .fs-4.text-secondary.position-relative.qa-manager
                                        ion-icon(name='ellipsis-horizontal')
                                        .menu-actions.bg-white.shadow
                                            ul.ps-0
                                                li
                                                    a.fs-7(href=`/qa/${item._id}/edit`) Chỉnh sửa
                                                li
                                                    a.fs-7.btn-delete-qa(data-id=item._id) Xóa
                                hr
                        if countMyQaWait === 0
                            div
                                p Chưa có câu hỏi nào cần xem xét.
                                p 
                                    span Bạn có thể 
                                    a.text-primary(href='/new-question') đặt câu hỏi 
                                    span hoặc 
                                    a.text-primary(href='/qa') đọc câu hỏi 
                                    span khác trên hệ thống nhé.
                    form(name='form-delete-qa' method='post')
                    #published.tab-pane.fade
                        each item in myQa
                            if item.isApproved
                                .d-flex.align-items-center.justify-content-between
                                    div
                                        h5.mb-4
                                            a(href=`/qa/${item.slug}`)= item.title
                                        span.text-secondary.fs-7 Chỉnh sửa #{moment(item.updatedAt).locale("vi").fromNow()}
                                    .fs-4.text-secondary.position-relative.qa-manager
                                        ion-icon(name='ellipsis-horizontal')
                                        .menu-actions.bg-white.shadow
                                            ul.ps-0
                                                li
                                                    a.fs-7(href=`/qa/${item._id}/edit`) Chỉnh sửa
                                                li
                                                    a.fs-7.btn-delete-qa(data-id=item._id) Xóa
                                hr
                        if countMyQaPublish === 0
                            div
                                p Chưa có xuất bản nào.
                                p 
                                    span Bạn có thể 
                                    a.text-primary(href='/new-question') đặt câu hỏi 
                                    span hoặc 
                                    a.text-primary(href='/qa') đọc câu hỏi 
                                    span khác trên hệ thống nhé.
    if success.length > 0
        - var msgSuccess = success
    script.
        const qaManager = $(".qa-manager");
        const menuActions = $(".menu-actions");

        $(document).ready(function () {
            let msgToastSuccess = '#{msgSuccess}';
            if(msgToastSuccess != '') {
                Eggy({
                    title: 'Thành công',
                    message:  msgToastSuccess,
                    type: 'success',
                    duration: 5000,
                });
            };

            $.each(qaManager, function(key, value) {   
                value.onclick = function() {
                    $(this).find(".menu-actions").toggleClass("show");
                } 
            });

            const formDeleteQa = $("form[name='form-delete-qa']");
            $(".btn-delete-qa").click(function() {
                const qaID = $(this).attr("data-id");
                formDeleteQa.attr("action", "/qa/" + qaID + "/delete?_method=DELETE");
                formDeleteQa.submit();
            })
        });
        
        $(document).click(function (e) {
            if (!qaManager.is(e.target) && qaManager.has(e.target).length == 0 ) {
                menuActions.removeClass("show");
            }
        });