extends ../layouts/common
block main
    section.qa-show
        .row
            .col-sm-7
                .qa-show__left
                    h3.fw-primary.qa-show__left--title= qa[0].title
                    .mt-4.mb-4.d-flex.align-items-center
                        img.rounded-circle(src=qa[0].user[0].avatar width=38 height=38 style='object-fit: cover')
                        .ms-3
                            span.fw-primary= qa[0].user[0].fullname
                            span.d-block.text-secondary.fs-8.mt-2= moment(qa[0].updatedAt).locale("vi").fromNow()
                    .mb-4.qa-show__left--content !{qa[0].content}
                    .qa-show__left--image
                        h4.fw-primary Ảnh mô tả
                        if qa[0].thumbnail !== ""
                            .text-secondary.fs-7.mb-4 (Bấm vào ảnh để xem chi tiết)
                            img#qa-img(src=qa[0].thumbnail alt=qa[0].title)
                            .modal
                                span.close &times;
                                img.modal-content
                                .caption
                        else
                            .text-secondary.mb-4 Không có ảnh mô tả.
            .col-sm-5
                .qa-show__right
                    .comment
                        h4.fw-primary.mb-5 1 câu trả lời
                        .comment-box
                            img.comment-box__avatar(src=user[0].avatar alt=user[0].fullname)
                            .comment-box__input(tabindex="0" contenteditable="true" placeholder="Viết câu trả lời..." role="textbox" aria-multiline="true" spellcheck="false")
                            .comment-box__actions.text-end
                                button.btn.btn-secondary.btn-padding.rounded-pill.fs-7.btn-cancel Hủy
                                button.btn.btn-primary.btn-padding.rounded-pill.fs-7.ms-2.btn-ok(disabled) Bình luận
                        .comment-content
                            form(name="form-delete-comment" method="POST")
                            each comment in comments
                                .comment-detail
                                    .avatar
                                        img(src=comment.user[0].avatar)
                                    .content
                                        .content-comment
                                            span.d-block.fw-primary.mb-1= comment.user[0].fullname
                                            span= comment.content
                                            if comment.numLikes !== 0
                                                .content-comment__count.shadow
                                                    ion-icon(name="heart")
                                                    span= comment.numLikes
                                        .content-time
                                            .content-time__like
                                                ion-icon(name="heart-outline")
                                            .content-time__reply
                                                ion-icon(name="chatbubble-outline")
                                            span ·
                                            span.fs-8.text-secondary= moment(comment.updatedAt).locale("vi").fromNow()
                                            .position-relative.qa-manager
                                                .fs-5
                                                    ion-icon(name='ellipsis-horizontal')
                                                .menu-actions.bg-white.shadow
                                                    ul.ps-0
                                                        if comment.user[0].username === user[0].username
                                                            li
                                                                a(href=``)
                                                                    .d-flex.align-items-center
                                                                        .fs-6
                                                                            ion-icon(name="pencil")
                                                                        span.ms-2 Chỉnh sửa
                                                            li
                                                                a.btn-delete-comment(data-id=comment._id)
                                                                    .d-flex.align-items-center
                                                                        .fs-6
                                                                            ion-icon(name="trash")
                                                                        span.ms-2 Xóa
                                                        else
                                                            li
                                                                a(href=``)
                                                                    .d-flex.align-items-center
                                                                        .fs-6
                                                                            ion-icon(name="flag")
                                                                        span.ms-2 Báo cáo bình luận
                                        .reply-box
                                            img.reply-box__avatar(src=user[0].avatar alt=user[0].fullname)
                                            .reply-box__input(tabindex="0" contenteditable="true" placeholder="Viết phản hồi..." role="textbox" aria-multiline="true" spellcheck="false")
                                            .reply-box__detail
    if success.length > 0
        - var msgSuccess = success    
    script(src="/socket.io/socket.io.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js')
    script.
        const socket = io();
        socket.on("server-send-comment", (data) => {
            $(".comment-content").append(`
                <div class="comment-detail">
                    <div class="avatar">
                        <img src="${data.user.avatar}" />
                    </div>
                    <div class="content">
                        <div class="content-comment">
                            <span class="d-block fw-primary mb-1">${data.user.fullname}</span>
                            <span>${data.dataComment.content}</span>
                            <div class="content-comment__count shadow">
                                <ion-icon name="heart"></ion-icon>
                                <span>2</span>
                            </div>
                        </div>
                        <div class="content-time">
                            <div class="content-time__like">
                                <ion-icon name="heart-outline"></ion-icon>
                            </div>
                            <div class="content-time__reply">
                                <ion-icon name="chatbubble-outline"></ion-icon>
                            </div>
                            <span>·</span>
                            <span class="fs-8 text-secondary">${data.createdAt}</span>
                            <div class="position-relative qa-manager">
                                <div class="fs-5">
                                    <ion-icon name="ellipsis-horizontal"></ion-icon>
                                </div>
                                <div class="menu-actions bg-white shadow">
                                    <ul class="ps-0">
                                        <li>
                                            <a href="">
                                                <div class="d-flex align-items-center">
                                                    <div class="fs-6">
                                                        <ion-icon name="flag"></ion-icon>
                                                    </div>
                                                    <span class="ms-2">Báo cáo bình luận</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <div class="d-flex align-items-center">
                                                    <div class="fs-6">
                                                        <ion-icon name="pencil"></ion-icon>
                                                    </div>
                                                    <span class="ms-2">Chỉnh sửa</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn-delete-qa" data-id="data-id">
                                                <div class="d-flex align-items-center">
                                                    <div class="fs-6">
                                                        <ion-icon name="trash"></ion-icon>
                                                    </div>
                                                    <span class="ms-2">Xóa</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="reply-box"><img class="reply-box__avatar" src="" />
                            <div class="reply-box__input" tabindex="0" contenteditable="true" placeholder="Viết phản hồi..." role="textbox" aria-multiline="true" spellcheck="false"></div>
                            <div class="reply-box__detail"></div>
                        </div>
                    </div>
                </div>
            `);
        })

        $(document).ready(function () {
            var modal = $(".qa-show__left--image .modal");
            var qaImg = $("#qa-img");
            var modalImg = $(".qa-show__left--image .modal img.modal-content");
            var captionText = $(".qa-show__left--image .modal .caption");
            var commentBoxInput = $(".comment-box__input");
            var replyBoxInput = $(".reply-box__input");
            var commentBoxActions = $(".comment-box__actions");
            var btnCancel = $(".comment-box .btn-cancel");
            var btnOk = $(".comment-box .btn-ok");
            var qaManager = $(".qa-manager");
            var menuActions = $(".menu-actions");
            var btnClose = $(".qa-show__left--image .modal span.close");
            var contentTimeLike = $(".content-time__like");
            var contentTimeReply = $(".content-time__reply");
            var btnDeleteComment = $(".btn-delete-comment");
            var formDeleteComment = $("form[name='form-delete-comment']");
            
            // toast message
            let msgToastSuccess = '#{msgSuccess}';
            if(msgToastSuccess != '') {
                Eggy({
                    title: 'Thành công',
                    message:  msgToastSuccess,
                    type: 'success',
                    duration: 5000,
                });
            };

            // when btn delete qa is clicked
            btnDeleteComment.click(function () {
                var commentID = $(this).attr("data-id");
                formDeleteComment.attr("action", `/comment/${commentID}?_method=DELETE`);
                formDeleteComment.submit();
            })

            contentTimeLike.click(function () {
                $(this).toggleClass("active");
            })

            // when menu actions is clicked
            $.each(qaManager, function(key, value) {   
                value.onclick = function() {
                    $(this).find(".menu-actions").toggleClass("show");
                } 
            });

            // clear menu actions
            $(document).click(function (e) {
                if (!qaManager.is(e.target) && qaManager.has(e.target).length == 0) {
                    menuActions.removeClass("show");
                }
            })

            // when thumbnail is clicked
            qaImg.click(function () {
                var thumbnailSrc = $(this).attr("src");
                var thumbnailAlt = $(this).attr("alt");
                modal.show();
                modalImg.attr("src", thumbnailSrc);
                captionText.text(thumbnailAlt);
            })
            
            // when btn close modal thumbnail detail is clicked
            btnClose.click(function () {
                modal.hide();
            })

            // when comment box input is focus
            commentBoxInput.focus(function () {
                commentBoxActions.show();
                if ($(this).text().length === 0) {
                    btnOk.attr("disabled", true);
                }
            })

            // when comment box input enter
            commentBoxInput.keydown(function(e) {
                var commentData = $(this).text();
                if (e.keyCode === 13 && commentData.length > 0) {
                    var qaID = "#{qa[0]._id}";
                    var userID = "#{user[0]._id}";
                    var data = {
                        qaID: qaID,
                        userID: userID,
                        commentContent: commentData,
                        createdAt: moment().locale("vi").fromNow(),
                    };
                    console.log(data);
                    socket.emit("client-send-comment", data);
                    $(this).text("");
                    document.execCommand('selectAll', false, null);
                    return false;
                }
            })

            // disabled btn 
            commentBoxInput.keyup(function(e) {
                if ($(this).text().length > 0) {
                    btnOk.attr("disabled", false);
                } else {
                    btnOk.attr("disabled", true);
                }
            })

            // when reply box input enter
            replyBoxInput.keydown(function (e) {
                if (e.keyCode === 13) {
                    $(this).text("");
                    document.execCommand('selectAll', false, null);
                    return false;
                }
            })

            // when btn cancel is clicked
            btnCancel.click(function () {
                commentBoxActions.hide();
                commentBoxInput.text("");
            })

            // when btn reply is clicked
            contentTimeReply.click(function () {
                $(this).parent().parent().find(".reply-box").show();
            })
        })
