extends ../layouts/common
block main
    section.qa-show
        .row
            .col-sm-7
                .qa-show__left
                    h3.fw-primary.qa-show__left--title= qa[0].title
                    .mt-4.mb-4.d-flex.align-items-center
                        img.rounded-circle(src=qa[0].user[0].avatar width=38 height=38 style='object-fit: cover')
                        .ms-3
                            span.fw-primary= qa[0].user[0].fullname
                            span.d-block.text-secondary.fs-8.mt-2= moment(qa[0].createdAt).locale("vi").fromNow()
                    .mb-4.qa-show__left--content !{qa[0].content}
                    .qa-show__left--image
                        h4.fw-primary Ảnh mô tả
                        if qa[0].thumbnail !== ""
                            .text-secondary.fs-7.mb-4 (Bấm vào ảnh để xem chi tiết)
                            img#qa-img(src=qa[0].thumbnail alt=qa[0].title)
                            .modal
                                span.close &times;
                                img.modal-content
                                .caption
                        else
                            .text-secondary.mb-4 Không có ảnh mô tả.
            .col-sm-5
                .qa-show__right
                    .comment
                        h4.fw-primary.mb-5.comment-count #{comments.length} câu trả lời
                        .comment-box
                            img.comment-box__avatar(src=user[0].avatar alt=user[0].fullname)
                            .comment-box__input(tabindex="0" contenteditable="true" placeholder="Viết câu trả lời..." role="textbox" aria-multiline="true" spellcheck="false")
                            .comment-box__actions.text-end
                                button.btn.btn-secondary.btn-padding.rounded-pill.fs-7.btn-cancel Hủy
                                button.btn.btn-primary.btn-padding.rounded-pill.fs-7.ms-2.btn-ok(disabled) Bình luận
                        .comment-content
                            form(name="form-delete-comment" method="POST")
                            each comment in comments
                                .comment-detail
                                    .avatar
                                        img(src=comment.user[0].avatar)
                                    .content
                                        .content-comment
                                            span.d-block.fw-primary.mb-1.name= comment.user[0].fullname
                                            span.content-comment__text= comment.content
                                            if comment.numLikes !== 0
                                                .content-comment__count.shadow
                                                    ion-icon(name="heart")
                                                    span= comment.numLikes
                                        .content-time
                                            if comment.commentLikes.length > 0
                                                - var checkLike = comment.commentLikes.filter((x) => x.userID.equals(user[0]._id));
                                                .content-time__like(data-id=comment._id class=(checkLike.length > 0 ? "active" : undefined))
                                                    ion-icon(name="heart-outline")
                                            else
                                                .content-time__like(data-id=comment._id)
                                                    ion-icon(name="heart-outline")
                                            .content-time__reply
                                                ion-icon(name="chatbubble-outline")
                                            span ·
                                            span.fs-8.text-secondary= moment(comment.createdAt).locale("vi").fromNow()
                                            .position-relative.qa-manager
                                                .fs-5
                                                    ion-icon(name='ellipsis-horizontal')
                                                .menu-actions.bg-white.shadow
                                                    ul.ps-0
                                                        if comment.user[0].username === user[0].username
                                                            li
                                                                a.btn-edit-comment(data-id=comment._id)
                                                                    .d-flex.align-items-center
                                                                        .fs-6
                                                                            ion-icon(name="pencil")
                                                                        span.ms-2 Chỉnh sửa
                                                            li
                                                                a.btn-delete-comment(data-id=comment._id)
                                                                    .d-flex.align-items-center
                                                                        .fs-6
                                                                            ion-icon(name="trash")
                                                                        span.ms-2 Xóa
                                                        else
                                                            li
                                                                a.btn-report-comment(data-id=comment._id)
                                                                    .d-flex.align-items-center
                                                                        .fs-6
                                                                            ion-icon(name="flag")
                                                                        span.ms-2 Báo cáo bình luận
                                        .edit-box
                                            img.edit-box__avatar(src=user[0].avatar alt=user[0].fullname)
                                            .edit-box__input(tabindex="0" contenteditable="true" placeholder="Viết câu trả lời..." role="textbox" aria-multiline="true" spellcheck="false")
                                            .edit-box__detail.fs-8.mt-1 Nhấn Enter để sửa hoặc nhấn Esc để hủy.
                                        .reply-box
                                            img.reply-box__avatar(src=user[0].avatar alt=user[0].fullname)
                                            .reply-box__input(tabindex="0" contenteditable="true" placeholder="Viết phản hồi..." role="textbox" aria-multiline="true" spellcheck="false")
                                                span.reply-box__username(contenteditable="false")
                                                span  
                                            .reply-box__detail.fs-8.mt-1 Nhấn Enter để phản hồi hoặc nhấn Esc để hủy.
    if success.length > 0
        - var msgSuccess = success    
    script(src="/socket.io/socket.io.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js')
    script.
        const socket = io();
        socket.on("server-send-comment", (data) => {
            var userID = "#{user[0]._id}";
            var checkLike;
            $(".comment-count").html(data.length + " câu trả lời");
            $(".comment-content").html("");
            data.map((cmt) => {
                checkLike = cmt.commentLikes.filter((x) => x.userID === userID);
                $(".comment-content").append(`
                    <div class="comment-detail">
                        <div class="avatar">
                            <img src="${cmt.user[0].avatar}" />
                        </div>
                        <div class="content">
                            <div class="content-comment">
                                <span class="d-block fw-primary mb-1">${cmt.user[0].fullname}</span>
                                <span class="content-comment__text">${cmt.content}</span>
                                ${ cmt.numLikes !== 0 ? `<div class="content-comment__count shadow">
                                                            <ion-icon name="heart"></ion-icon>
                                                            <span>${cmt.numLikes}</span>
                                                        </div>` : ""
                                }
                                
                            </div>
                            <div class="content-time">
                                ${ cmt.commentLikes.length > 0 ? `
                                    <div class="content-time__like ${ checkLike.length > 0 ? 'active' : undefined }" data-id=${cmt._id}>
                                        <ion-icon name="heart-outline"></ion-icon>
                                    </div>  
                                ` : `
                                    <div class="content-time__like" data-id=${cmt._id}>
                                        <ion-icon name="heart-outline"></ion-icon>
                                    </div>
                                ` }
                                <div class="content-time__reply">
                                    <ion-icon name="chatbubble-outline"></ion-icon>
                                </div>
                                <span>·</span>
                                <span class="fs-8 text-secondary">${moment(cmt.createdAt).locale("vi").fromNow()}</span>
                                <div class="position-relative qa-manager">
                                    <div class="fs-5">
                                        <ion-icon name="ellipsis-horizontal"></ion-icon>
                                    </div>
                                    <div class="menu-actions bg-white shadow">
                                        <ul class="ps-0">
                                            ${ userID === cmt.userID ? `
                                                <li>
                                                    <a class="btn-edit-comment" data-id=${cmt._id}>
                                                        <div class="d-flex align-items-center">
                                                            <div class="fs-6">
                                                                <ion-icon name="pencil"></ion-icon>
                                                            </div>
                                                            <span class="ms-2">Chỉnh sửa</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="btn-delete-comment" data-id=${cmt._id}>
                                                        <div class="d-flex align-items-center">
                                                            <div class="fs-6">
                                                                <ion-icon name="trash"></ion-icon>
                                                            </div>
                                                            <span class="ms-2">Xóa</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            ` : ""}
                                            ${ userID !== cmt.userID ? `
                                                <li>
                                                    <a class="btn-report-comment" data-id=${cmt._id}>
                                                        <div class="d-flex align-items-center">
                                                            <div class="fs-6">
                                                                <ion-icon name="flag"></ion-icon>
                                                            </div>
                                                            <span class="ms-2">Báo cáo bình luận</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            ` : ""}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="reply-box">
                                <img class="reply-box__avatar" src="${cmt.user[0].avatar}" alt="${cmt.user[0].fullname}" />
                                <div class="reply-box__input" tabindex="0" contenteditable="true" placeholder="Viết phản hồi..." role="textbox" aria-multiline="true" spellcheck="false"></div>
                                <div class="reply-box__detail"></div>
                            </div>
                            <div class="edit-box">
                                <img class="edit-box__avatar" src="${cmt.user[0].avatar}" alt="${cmt.user[0].fullname}" />
                                <div class="edit-box__input" tabindex="0" contenteditable="true" placeholder="Viết câu trả lời..." role="textbox" aria-multiline="true" spellcheck="false"></div>
                                <div class="edit-box__detail fs-8 mt-1">Nhấn Enter để sửa hoặc nhấn Esc để hủy.</div>
                            </div>
                        </div>
                    </div>
                `);
            })
        })

        socket.on("server-send-notification", (data) => {
            var userID = "#{user[0]._id}";
            if(data.receiverID === userID) {
                Eggy({
                    title: 'Thông báo',
                    message: data.content,
                    type: 'info',
                    duration: 5000,
                });
            }
        })

        $(document).click(function (e) {
            var qaManager = $(".qa-manager");
            var menuActions = $(".menu-actions");
            // click ben ngoai thi remove menu
            if (!qaManager.is(e.target) && qaManager.has(e.target).length == 0) {
                menuActions.removeClass("show");
            }

            // when menu actions is clicked
            if (qaManager.find("ion-icon").is(e.target)) {
                var parent = $(e.target).closest(".qa-manager");
                var menu = parent.find(".menu-actions");
                menu.toggleClass("show");
            }
        })

        $(document).ready(function () {
            var modal = $(".qa-show__left--image .modal");
            var modalImg = $(".qa-show__left--image .modal img.modal-content");
            var captionText = $(".qa-show__left--image .modal .caption");
            var commentBoxInput = $(".comment-box__input");
            var commentBoxActions = $(".comment-box__actions");
            var btnOk = $(".comment-box .btn-ok");
            var qaManager = $(".qa-manager");
            var menuActions = $(".menu-actions");
            var commentID;
            
            // toast message
            let msgToastSuccess = '#{msgSuccess}';
            if(msgToastSuccess != '') {
                Eggy({
                    title: 'Thành công',
                    message:  msgToastSuccess,
                    type: 'success',
                    duration: 5000,
                });
            };

            // when btn report comment is clicked
            $("body").on("click", ".btn-report-comment", function() {
                commentID = $(this).attr("data-id");
                var userID = "#{user[0]._id}";
                var data = {
                    commentID: commentID,
                    userID: userID,
                };

                $(".menu-actions").removeClass("show");
                socket.emit("client-report-comment", data);
            })

            // when btn delete comment is clicked
            $("body").on("click", ".btn-delete-comment", function() {
                commentID = $(this).attr("data-id");
                var parent = $(this).closest("div.content");
                var menuActions = parent.find(".menu-actions");
                
                var userID = "#{user[0]._id}";
                var qaID = "#{qa[0]._id}";
                var data = {
                    qaID: qaID,
                    commentID: commentID,
                    userID: userID,
                };
                
                $(".menu-actions").removeClass("show");
                socket.emit("client-delete-comment", data);
            });

            // when btn edit comment is clicked
            $("body").on("click", ".btn-edit-comment", function() {
                commentID = $(this).attr("data-id");
                var parent = $(this).closest("div.content");
                parent.find(".reply-box").hide();

                var editBox = parent.find(".edit-box");
                var editBoxText = editBox.find(".edit-box__input");
                var editCommentText = parent.find(".content-comment__text");
                var menuActions = parent.find(".menu-actions");
                $(".menu-actions").removeClass("show");
                editBox.show();
                editBoxText.focus();
                editBoxText.text(editCommentText.text());
            })

            // handle edit box input
            $("body").on("keydown", ".edit-box__input", function(e) {
                // handle enter edit box input
                if (e.keyCode === 13 && $(this).text().length > 0) {
                    var userID = "#{user[0]._id}";
                    var qaID = "#{qa[0]._id}";
                    var commentEdit = $(this).text();
                    var data = {
                        qaID: qaID,
                        commentID: commentID,
                        userID: userID,
                        commentEdit: commentEdit,
                    };
                    socket.emit("client-edit-comment", data);
                    $(this).text("");
                    $(this).parent().hide();
                }

                // handle esc edit box input
                if (e.keyCode === 27) { 
                    $(this).text("");
                    $(this).parent().hide();
                }
            })

            $("body").on("click", ".content-time__like", function() {
                $(this).toggleClass("active");
                commentID = $(this).attr("data-id");
                var qaID = "#{qa[0]._id}";
                var userID = "#{user[0]._id}";
                var data = {
                    commentID: commentID,
                    userID: userID,
                    qaID: qaID,
                };
                socket.emit("client-send-like-comment", data);
            })

            // when thumbnail is clicked
            $("body").on("click", "#qa-img", function() {
                var thumbnailSrc = $(this).attr("src");
                var thumbnailAlt = $(this).attr("alt");
                modal.show();
                modalImg.attr("src", thumbnailSrc);
                captionText.text(thumbnailAlt);
            })
            
            // when btn close modal thumbnail detail is clicked
            $("body").on("click", ".qa-show__left--image .modal span.close", function() {
                modal.hide();
            })

            // when comment box input is focus
            $("body").on("focus", ".comment-box__input", function() {
                commentBoxActions.show();
                if ($(this).text().length === 0) {
                    btnOk.attr("disabled", true);
                }
            })

            // when comment box input enter
            $("body").on("keydown", ".comment-box__input", function(e) {
                var commentData = $(this).text();
                if (e.keyCode === 13 && commentData.length > 0) {
                    var qaID = "#{qa[0]._id}";
                    var author = "#{qa[0].userID}";
                    var userID = "#{user[0]._id}";
                    var data = {
                        author: author,
                        qaID: qaID,
                        userID: userID,
                        commentContent: commentData,
                        createdAt: moment().locale("vi").fromNow(),
                    };
                    socket.emit("client-send-comment", data);
                    $(this).text("");
                    document.execCommand('selectAll', false, null);
                    return false;
                }
            })

            // disabled btn
            $("body").on("keyup", ".comment-box__input", function(e) {
                if ($(this).text().length > 0) {
                    btnOk.attr("disabled", false);
                } else {
                    btnOk.attr("disabled", true);
                }
            })

            // when reply box input enter
            $("body").on("keydown", ".reply-box__input", function(e) {
                if (e.keyCode === 13) {
                    $(this).text("");
                    document.execCommand('selectAll', false, null);
                    return false;
                }

                if (e.keyCode === 27) {
                    $(this).find("span").text(" ");
                    $(this).parent().hide();
                }
            })

            // when btn cancel is clicked
            $("body").on("click", ".comment-box .btn-cancel", function() {
                commentBoxActions.hide();
                commentBoxInput.text("");
            })

            // when btn reply is clicked
            $("body").on("click", ".content-time__reply", function() {
                var parentContent = $(this).parent().parent();
                var authorCmt = parentContent.find(".content-comment span.name").text();
                var replyBoxInput = parentContent.find(".reply-box .reply-box__input");
                var replyBoxUsername = replyBoxInput.find("span.reply-box__username");

                parentContent.find(".edit-box").hide();
                parentContent.find(".reply-box").show();
                replyBoxInput.focus();
                replyBoxUsername.text(authorCmt);
            })
        })
