header.header
    .header__logo
        a(href='/')
            img(src='/img/logo.jpg', alt='')
        h4 Trường THPT Phù Cát 3
    .header__menu--mobile
        button.p-0.border-0.btn(type='button', data-bs-toggle='offcanvas', data-bs-target='#offcanvasMenuMoblie', aria-controls='offcanvasMenuMoblie')
            ion-icon.fs-1(name='menu')
        #offcanvasMenuMoblie.offcanvas.offcanvas-start(data-bs-scroll='true', tabindex='-1', aria-labelledby='offcanvasMenuMoblieLabel')
            .offcanvas-body.pe-0
                if user.length > 0
                    img(src=user[0].avatar)
                else
                    img(src='/img/nobody.jpg')
                .sidebar__mobile
                    ul.sidebar__mobile--list.ps-0
                        li.sidebar__mobile--item
                            a.sidebar__mobile--link(href='/')
                                ion-icon(name='home')
                                span.ms-3 Home
                        li.sidebar__mobile--item
                            a.sidebar__mobile--link(href='/subjects')
                                ion-icon(name='book')
                                span.ms-3 Học
                        li.sidebar__mobile--item
                            a.sidebar__mobile--link(href='/competition')
                                ion-icon(name='bulb')
                                span.ms-3 Thi đấu                    
                        li.sidebar__mobile--item
                            a.sidebar__mobile--link(href='/blog')
                                ion-icon(name='newspaper')
                                span.ms-3 Blog
    .header__body
        .header__search
            ion-icon(name='search')
            input#search__all(type='text', name='search', placeholder='Tìm kiếm môn học, bài viết, câu hỏi,...', spellcheck='false', value='', autocomplete="off")
            ion-icon(name='close')
        .search__result
            ul.tippy__wrapper.shadow
                .search__result--list
                    .search__result--header.d-flex.align-items-center
                        div
                            ion-icon(name="search")
                        span.search__string.ms-2.fs-7
                    .search__result--content
    .header__actions
        if user.length > 0
            .header__actions--noti
                .header__actions--notiIcon
                    ion-icon(name="notifications")
                    //- if countNotifUnread > 0
                    //-     span.position-absolute.top-0.start-100.translate-middle.badge.rounded-circle.bg-danger
                    //-         | #{countNotifUnread}
                .header__actions--notiMenu.shadow
                    .notiMenu-header.d-flex.align-items-center.justify-content-between
                        h6.mb-0 Thông báo
                        span.fs-7.text-primary.mark-all-read(style="cursor:pointer") Đánh dấu tất cả là đã đọc
                    .notiMenu-container
                        ul.list.ps-0.mb-0
                            if notifications.length > 0
                                each noti in notifications
                                    li.list__item
                                        a.list__link(href=(noti.question.length > 0 ? `/qa/${noti.question[0].slug}/?ref=notif`: `/qa/${noti.comment.question[0].slug}/?ref=notif`) class=(noti.isRead ? undefined : "unread"))
                                            .d-flex.align-items-center
                                                img.notification-avatar(src=noti.sender[0].avatar)
                                                .px-3.notification-message
                                                    div !{noti.content}
                                                    .notification-created= moment(noti.createdAt).locale("vi").fromNow()
                            li.list__item
                                a.list__link(href='#')
                                    .d-flex.align-items-center
                                        img.notification-avatar(src="/img/logo2.jpg")
                                        .px-3.notification-message
                                            div 
                                                | Chúc mừng 
                                                span.name #{user[0].fullname} 
                                                | đã chính thức gia nhập hệ thống ❤️
                                            .notification-created= moment(user[0].createdAt).locale("vi").fromNow()
                            
            .header__actions--user
                .header__actions--avatar
                    img(src=user[0].avatar)
                .header__actions--userMenu.shadow
                    .user
                        .user__avatar
                            img(src=user[0].avatar)
                        .user__info
                            .name= user[0].fullname
                            .username @#{user[0].username}
                    if user[0].role.length > 0 && user[0].role[0].roleName === 'admin'
                        hr
                        ul.list
                            li.list__item
                                a.list__link(href='/admin') Quản lý hệ thống
                    hr
                    ul.list
                        li.list__item
                            a.list__link(href='/new-question') Đặt câu hỏi
                        li.list__item
                            a.list__link(href='/my-qa') Câu hỏi của tôi
                    hr
                    ul.list
                        li.list__item
                            a.list__link(href='/infor') Thông tin cá nhân
                        li.list__item
                            a.list__link(href='/password/change') Đổi mật khẩu
                        li.list__item
                            a.list__link(href=`/learning/result?subject=toan-hoc-10`) Kết quả học tập
                        
                    hr
                    ul.list
                        li.list__item
                            a.list__link(href='/logout') Đăng xuất
        else
            a.list__link.btn.btn-primary.btn-padding.fs-7(href='/login') Đăng nhập
    script.
        document.addEventListener('DOMContentLoaded', function() {
            var searchAll = $("#search__all");
            var iconClose = $("ion-icon[name=close]");
            var searchResult = $(".search__result");
            var markAllRead = $(".mark-all-read");

            searchAll.keyup(function(e) {
                iconClose.addClass("d-block");
                searchResult.addClass("d-block");
                var searchString = $(this).val();
                $(".search__string").text(`Kết quả cho '${searchString}'`)

                if ($(this).val() == "") {
                    clearSearch();
                }
                else {
                    $.ajax({
                        method: 'POST',
                        url: '/search',
                        contentType: 'application/json',
                        data: JSON.stringify({query: searchString}),
                        success: function (data) {
                            $(".search__result--content").replaceWith(data);
                        }
                    });     
                }
            });

            markAllRead.click(function(e) {
                $.ajax({
                    method: 'POST',
                    url: '/notif/mark-all-read',
                    contentType: 'application/json',
                    data: JSON.stringify({action: 'mark all as read'}),
                    success: function (data) {
                        $(".header__actions--notiMenu .notiMenu-container").replaceWith(data);
                        $(".header__actions--notiIcon span").html("");
                    }
                });  
            })

            iconClose.click(function (e) {
                clearSearch();
            })

            $(document).click(function (e) {
                // Nếu click bên ngoài đối tượng container thì ẩn nó đi
                if (!searchResult.is(e.target) && searchResult.has(e.target).length === 0) {
                    clearSearch();
                }
            });

            function clearSearch() {
                iconClose.removeClass("d-block");
                searchResult.removeClass("d-block");
                searchAll.val("");
            }
        });