header.header
    .header__logo
        a(href='/')
            img(src='/img/logo.jpg', alt='')
        h4 Trường THPT Phù Cát 3
    .header__body
        .header__search
            ion-icon(name='search')
            input#search__all(type='text', name='search', placeholder='Tìm kiếm môn học, bài viết, ...', spellcheck='false', value='', autocomplete="off")
            ion-icon(name='close')
        .search__result
            ul.tippy__wrapper.shadow
                .search__result--list
                    .search__result--header.d-flex.align-items-center
                        div
                            ion-icon(name="search")
                        span.search__string.ms-2.fs-7
                    .search__result--content
    .header__actions
        .header__actions--user
            if user.length > 0
                .header__actions--avatar
                    img(src=user[0].avatar, alt='')
                .header__actions--userMenu.shadow
                    .user
                        .user__avatar
                            img(src=user[0].avatar, alt='')
                        .user__info
                            .name= user[0].fullname
                            .username @#{user[0].username}
                    if user[0].role.length > 0 && user[0].role[0].roleName == 'admin'
                        hr
                        ul.list
                            li.list__item
                                a.list__link(href='/admin') Quản lý hệ thống
                    hr
                    ul.list
                        li.list__item
                            a.list__link(href='/infor') Thông tin cá nhân
                        li.list__item
                            a.list__link(href='/password/change') Đổi mật khẩu
                        li.list__item
                            a.list__link(href=`/learning/result?subject=toan-hoc-10`) Kết quả học tập
                    hr
                    ul.list
                        li.list__item
                            a.list__link(href='/logout') Đăng xuất
            else
                a.list__link.btn.btn-primary.btn-padding.fs-7(href='/login') Đăng nhập
    script.
        document.addEventListener('DOMContentLoaded', function() {
            var searchAll = $("#search__all");
            var iconClose = $("ion-icon[name=close]");
            var searchResult = $(".search__result");

            searchAll.keyup(function(e) {
                iconClose.addClass("d-block");
                searchResult.addClass("d-block");
                var searchString = $(this).val();
                $(".search__string").text(`Kết quả cho '${searchString}'`)

                if ($(this).val() == "") {
                    clearSearch();
                }
                else {
                    $.ajax({
                        method: 'POST',
                        url: '/search',
                        contentType: 'application/json',
                        data: JSON.stringify({query: searchString}),
                        success: function (data) {
                            $(".search__result--content").replaceWith(data);
                        }
                    });     
                }
            });

            iconClose.click(function (e) {
                clearSearch();
            })

            $(document).click(function (e) {
                // Nếu click bên ngoài đối tượng container thì ẩn nó đi
                if (!searchResult.is(e.target) && searchResult.has(e.target).length === 0) {
                    clearSearch();
                }
            });

            function clearSearch() {
                iconClose.removeClass("d-block");
                searchResult.removeClass("d-block");
                searchAll.val("");
            }
        });