.blog-content
    if blogs.length > 0
        each blog in blogs
            a(href=`/blog/${blog.slug}`)
                .blog-list
                    .blog-item
                        .blog-item-heading
                            .blog-item-left
                                img.blog-item-avatar(src=blog.User[0].avatar alt='')
                                p.blog-item-name
                                    span= blog.User[0].fullname
                            .blog-item-right.fs-5
                                ion-icon.me-2(name='bookmark-outline')
                                ion-icon(name='ellipsis-horizontal')
                        .blog-item-content
                            .blog-item-content-left.pe-4
                                h5.blog-item-content-left-title
                                    | #{blog.title}
                                .blog-item-content-left-text !{blog.content}
                                p.mt-3.blog-item-content-left-time= moment(blog.updatedAt).locale("vi").fromNow()
                            .blog-item-content-right
                                img(src=`${blog.image}` alt='')
    else
        .text-center.mt-4
            span Dữ liệu đang cập nhật... Vui lòng thử lại sau!!!