.search__result--content
    if seacrchSubjects.length > 0
        .search__result--heading.d-flex.align-items-center.pt-4.justify-content-between
            h5.text-uppercase.mb-0.fs-7.text-dark môn học
            a(href='/subjects').fs-7.see-more Xem thêm
        hr
        each subject in seacrchSubjects
            a(href=`/subjects/${subject.slug}`).search__result--item.d-flex.align-items-center
                .d-flex.align-items-center.justify-content-center.rounded-circle.bg-light(style="width: 32px; height: 32px;")
                    ion-icon(name=subject.icon).fs-5
                span.ms-3.fs-7= subject.name + ' ' + subject.gradeID
    if searchBlogs.length > 0
        .search__result--heading.d-flex.align-items-center.pt-4.justify-content-between
            h5.text-uppercase.mb-0.fs-7.text-dark bài viết
            a(href='/blog').fs-7.see-more Xem thêm
        hr
        each blog in searchBlogs
            a(href=`/blog/${blog.slug}`).search__result--item.d-flex.align-items-center
                img(src=blog.image, width=32, height=32).rounded-circle
                span.ms-3.fs-7= blog.title