tbody
    - var count = 0;
    each blog in blogs
        - count++;
        tr
            td= count
            td.py-1
                img(src=`${blog.image}` alt='image')
            td.w-25= blog.title
            td= blog.BlogCategory[0].category
            td= blog.User[0].fullname
            td= blog.createdAt.getDate()+"/"+blog.createdAt.getMonth()+"/"+blog.createdAt.getFullYear()
            td= blog.view
            td
                a.btn.btn-secondary.mr-2(href=`/blog/${blog._id}/update`) Sửa
                button.btn.btn-danger(type='button' data-id=`${blog._id}` data-toggle='modal' data-target='#delete-blog-modal') Xóa 