tbody
    - var count = 0;
    if subjects
        each subject in subjects
            - count++;
            tr
                td= count
                td.w-25= subject.name
                td= subject.gradeID
                td
                    ion-icon(name=subject.icon)
                td.w-25= subject.slug
                td.text-center
                    a.btn.btn-primary.mr-2(href=`/subjects/${subject._id}/content`) Nội dung
                    a.btn.btn-warning.mr-2(href=`/statisticals?subject=${subject._id}`) Thống kê
                    a.btn.btn-secondary.mr-2(href=`/subjects/${subject._id}/edit`) Sửa
                    button.btn.btn-danger(data-toggle="modal" data-target="#deleteSubjectModal", data-id=subject._id) Xóa
    if units
        each unit in units
            - count++;
            tr
                td= count
                td= unit.name
                td= unit.subject[0].name
                td= unit.subject[0].gradeID
                td.text-center(style='width: 15%')
                    a.btn.btn-secondary.mr-2(href=`/units/${unit._id}/edit`) Sửa
                    button.btn.btn-danger(data-toggle="modal" data-target="#deleteUnitModal", data-id=unit._id) Xóa