tbody
    - var count = 0;
    each report in reports
        - count++;
        tr
            td= count
            td= report.content
            td= report.summary
            td.text-center(style='width: 15%')
                a.btn.btn-secondary.mr-2(href=`/reports/${report.id}/detail`) Chi tiết
                button.btn.btn-danger(data-toggle="modal" data-target="#deleteReportModal", data-id=report._id) Xóa
if pages > 0
    nav.d-flex.align-items-center.justify-content-center
        ul.pagination.mt-4
            if current == 1
                li.page-item.disabled
                    a.page-link(href='#', aria-label='Previous')
                        span(aria-hidden='true') &laquo;
                        span.sr-only Previous
            else
                li.page-item
                    a.page-link(href=`/reports/list`, aria-label='Previous')
                        span(aria-hidden='true') &laquo;
                        span.sr-only Previous
            - var i = (Number(current) > 3 ? Number(current) - 2 : 1);
            if i !== 1
                li.page-item.disabled
                    a.page-link(href='#') ...
            - for(; i <= (Number(current) + 2) && i <= pages; i++)
                if i == current
                    li.page-item.active
                        a.page-link(href=`/reports/list/${i}`)= i
                else
                    li.page-item
                        a.page-link(href=`/reports/list/${i}`)= i
                if i == Number(current) + 2 && i < pages
                    li.page-item.disabled
                        a.page-link(href='#') ...
                if current == pages
                    li.page-item.disabled
                        a.page-link(href='#', aria-label='Next')
                            span(aria-hidden='true') &raquo;
                            span.sr-only Next
                else
                    li.page-item
                        a.page-link(href=`/reports/list/${pages}`, aria-label='Next')
                            span(aria-hidden='true') &raquo;
                            span.sr-only Next                            