extends ./layouts/common
block main
    .about
        section.index__module--grid.mt-0
            .aboutUs_wrapper
                section.index__module--wide
                    section.index__module--row
                        section.index__module--col1
                            img(src='/img/aboutus.png')
                        section.index__module--col1
                            .aboutUs__intro
                                h1.text-uppercase B&#x1EA1;n c&oacute; bi&#x1EBF;t?
                                each system in systems
                                    if system.field == "paragraph1"
                                        p !{system.value}
                                    if system.field == "paragraph2"
                                            p !{system.value}
                        section.index__module--col2
                            .aboutUs__intro2
                            each system in systems
                                if system.field == "paragraph3"
                                    p !{system.value}
                                if system.field == "paragraph4"
                                    p !{system.value}
                                if system.field == "paragraph5"
                                    p !{system.value}
        section.index__module--wide
            section.index__module--row
                section.index__module--col2
                    ul
                        li
                            .bdr1
                            img(src='/img/about-users.png')
                            .infor2
                                strong
                                    span= countUsers  
                                p.p__infor S&#x1ED1; ng&#x1B0;&#x1EDD;i s&#x1EED; d&#x1EE5;ng
                        li
                            .bdr1
                            img(src='/img/about-questions.png')
                            .infor2
                                strong
                                    span= countExercises 
                                p.p__infor S&#x1ED1; c&acirc;u h&#x1ECF;i
                        li
                            img(src='/img/about-units.png')
                            .infor2
                                strong
                                    span= countUnits
                                p.p__infor S&#x1ED1; chuy&ecirc;n &dstrok;&#x1EC1;
        .blockquote-wrapper
            .blockquote
                h1 Học để làm người
                h4 &mdash;Hồ Chí Minh
        section.method
            .method__center
                h3.v2__title
                    | &Aacute;p d&#x1EE5;ng c&aacute;c ph&#x1B0;&#x1A1;ng ph&aacute;p ph&aacute;t tri&#x1EC3;n kh&#x1EA3; n&abreve;ng t&#x1EF1; h&#x1ECD;c
                ul.d-flex.justify-content-around
                    li.zoom__hover.mb-5.shadow
                        strong H&#x1ECD;c ch&#x1EE7; &dstrok;&#x1ED9;ng
                        img(src='/img/study.png')
                        p
                            | Kho b&agrave;i t&#x1EAD;p, l&yacute; thuy&#x1EBF;t, &dstrok;&#x1EC1; thi, &dstrok;&#x1EC1; ki&#x1EC3;m tra b&aacute;m s&aacute;t ch&#x1B0;&#x1A1;ng
                            | tr&igrave;nh h&#x1ECD;c gi&uacute;p c&aacute;c em c&oacute; th&#x1EC3; h&#x1ECD;c tr&#x1B0;&#x1EDB;c ch&#x1B0;&#x1A1;ng tr&igrave;nh ho&#x1EB7;c &ocirc;n
                            | t&#x1EAD;p hi&#x1EC7;u qu&#x1EA3;.
                    li.zoom__hover.mb-5.shadow
                        strong H&#x1ECD;c t&#x1EEB; sai l&#x1EA7;m
                        img(src='/img/wrong.png')
                        p
                            | C&aacute;c b&#x1EAB;y g&#x1EAF;n b&oacute; v&#x1EDB;i t&#x1EEB;ng c&acirc;u h&#x1ECF;i &dstrok;&#x1B0;&#x1EE3;c ph&acirc;n t&iacute;ch v&agrave; ch&uacute; &yacute; k&#x1EF9;
                            | gi&uacute;p c&aacute;c em kh&#x1EAF;c s&acirc;u ki&#x1EBF;n th&#x1EE9;c.
                    li.zoom__hover.mb-5.shadow
                        strong R&egrave;n t&#x1B0; duy
                        img(src='/img/thinking.png')
                        p
                            | M&#x1ED7;i c&acirc;u h&#x1ECF;i s&#x1EBD; c&oacute; g&#x1EE3;i &yacute; gi&uacute;p c&aacute;c em c&oacute; th&#x1EC3; tham kh&#x1EA3;o v&agrave; &dstrok;&#x1ECB;nh
                            | h&#x1B0;&#x1EDB;ng gi&#x1EA3;i tr&#x1B0;&#x1EDB;c khi xem l&#x1EDD;i gi&#x1EA3;i chi ti&#x1EBF;t c&ugrave;ng &dstrok;&aacute;p &aacute;n.