extends ./layouts/admin
block content
    .container-fluid.page-body-wrapper
        .main-panel
            .content-wrapper
                .row
                    .col-sm-12.mb-4.mb-xl-0
                        .d-lg-flex.align-items-center
                            div
                                h3.text-dark.font-weight-bold.mb-2 Bảng thống kê
                .row.mt-4
                    .col-lg-2.grid-margin.stretch-card
                        .card
                            .card-body
                                .d-flex.align-items-center.justify-content-between.mb-5
                                    h2.text-success.font-weight-bold= countUsers
                                    i.mdi.mdi-account-outline.mdi-18px.text-dark
                                span.text-uppercase.font-weight-bold.text-dark thành viên
                    .col-lg-2.grid-margin.stretch-card
                        .card
                            .card-body
                                .d-flex.align-items-center.justify-content-between.mb-5
                                    h2.text-danger.font-weight-bold= countSubjects
                                    i.mdi.mdi-refresh.mdi-18px.text-dark
                                span.text-uppercase.font-weight-bold.text-dark môn học
                    .col-lg-2.grid-margin.stretch-card
                        .card
                            .card-body
                                .d-flex.align-items-center.justify-content-between.mb-5
                                    h2.text-info.font-weight-bold= countUnits
                                    i.mdi.mdi-file-document-outline.mdi-18px.text-dark
                                span.text-uppercase.font-weight-bold.text-dark chuyên đề
                    .col-lg-2.grid-margin.stretch-card
                        .card
                            .card-body
                                .d-flex.align-items-center.justify-content-between.mb-5
                                    h2.text-warning.font-weight-bold= countLessions
                                    i.mdi.mdi-folder-outline.mdi-18px.text-dark
                                span.text-uppercase.font-weight-bold.text-dark bài học
                    .col-lg-2.grid-margin.stretch-card
                        .card
                            .card-body
                                .d-flex.align-items-center.justify-content-between.mb-5
                                    h2.text-orange.font-weight-bold= countExercises
                                    i.mdi.mdi-cash.text-dark.mdi-18px
                                span.text-uppercase.font-weight-bold.text-dark câu hỏi
                    .col-lg-2.grid-margin.stretch-card
                        .card
                            .card-body
                                .d-flex.align-items-center.justify-content-between.mb-5
                                    h2.text-primary.font-weight-bold= countBlogs
                                    i.mdi.mdi-blogger.mdi-18px.text-dark
                                span.text-uppercase.font-weight-bold.text-dark bài viết            
                .row.mt-4
                    .col-sm-8.mb-4.mb-xl-0
                        .d-lg-flex.align-items-center.justify-content-between
                            h3.text-dark.font-weight-bold.mb-0 Bảng xếp hạng thi đấu
                            a.text-orange.d-flex.align-items-center(href='/competition/ranks') 
                                span.mr-2 Xem tất cả
                                i.mdi.mdi-arrow-right
                .row.mt-4
                    .col-sm-8.flex-column.d-flex.stretch-card
                        .row
                            each item, index in ranks
                                .col-lg-4.d-flex.grid-margin.stretch-card
                                    .card.top-score-border.position-relative
                                        //- .position-absolute(style="top: 5px; right: 5px")
                                        //-     if index === 0
                                        //-         img(src="/admin/images/dashboard/top1.png" width=30 height=40 style="object-fit: contain")
                                        //-     else if index === 1
                                        //-         img(src="/admin/images/dashboard/top2.png" width=30 height=40 style="object-fit: contain")
                                        //-     else if index === 2
                                        //-         img(src="/admin/images/dashboard/top3.png" width=30 height=40 style="object-fit: contain")
                                        .card-body
                                            h2.text-dark.mb-2.font-weight-bold= item.score
                                                i.mdi.mdi-heart.text-danger.ml-2
                                            small.text-muted #{item.victory} trận thắng
                                            .d-flex.align-items-center.mb-2.mt-2
                                                img.rounded-circle(src=item.user[0].avatar width=30 height=30 style="object-fit: cover")
                                                h4.card-title.ml-2.mb-0= item.user[0].fullname
                                            small.text-muted= item.user[0].email
                        h3.text-dark.font-weight-bold.mb-0 Top 3 học sinh đạt điểm tích lũy cao
                        .row.mt-4
                            each item, index in top3
                                .col-lg-4.d-flex.grid-margin.stretch-card
                                    .card.top-score-border.position-relative
                                        //- .position-absolute(style="top: 5px; right: 5px")
                                        //-     if index === 0
                                        //-         img(src="/admin/images/dashboard/top1.png" width=30 height=40 style="object-fit: contain")
                                        //-     else if index === 1
                                        //-         img(src="/admin/images/dashboard/top2.png" width=30 height=40 style="object-fit: contain")
                                        //-     else if index === 2
                                        //-         img(src="/admin/images/dashboard/top3.png" width=30 height=40 style="object-fit: contain")
                                        .card-body
                                            h2.text-dark.mb-2.font-weight-bold= Math.round(item.totalScore)
                                                i.mdi.mdi-heart.text-danger.ml-2
                                            .d-flex.align-items-center.mb-2.mt-3
                                                img.rounded-circle(src=item.user[0].avatar width=30 height=30 style="object-fit: cover")
                                                h4.card-title.ml-2.mb-0= item.user[0].fullname
                                            small.text-muted= item.user[0].email

                    .col-sm-4.flex-column.d-flex.stretch-card
                        .row
                            .col-sm-12.grid-margin.stretch-card
                                .card
                                    .card-body
                                        .row
                                            .col-sm-12
                                                .d-flex.align-items-center.justify-content-between
                                                    h4.card-title.mb-0 Đang truy cập
                                                .mt-4.d-lg-flex.align-items-center.justify-content-between
                                                    h1.font-weight-bold.text-dark#visitors
                                                canvas#visitorsToday
                //- .row
                //-     .col-sm-6.grid-margin.grid-margin-md-0.stretch-card
                //-         .card
                //-             .card-body
                //-                 .d-flex.align-items-center.justify-content-between
                //-                     h4.card-title Support Tracker
                //-                     h4.text-success.font-weight-bold
                //-                         | Tickets
                //-                         span.text-dark.ml-3 163
                //-                 #support-tracker-legend.support-tracker-legend
                //-                 canvas#supportTracker
                //-     .col-sm-6.grid-margin.grid-margin-md-0.stretch-card
                //-         .card
                //-             .card-body
                //-                 .d-lg-flex.align-items-center.justify-content-between.mb-4
                //-                     h4.card-title Product Orders
                //-                     p.text-dark +5.2% vs last 7 days
                //-                 .product-order-wrap.padding-reduced
                //-                     #productorder-gage.gauge.productorder-gage
                
            footer.footer
                .footer-wrap
                    .text-center
                        span.text-muted.d-block.text-center.text-sm-left.d-sm-inline-block
                            | Copyright &copy; 2021 -
                            | Trường THPT Phù Cát 3
    script(src="/socket.io/socket.io.js")
    script.
        const socket = io();
        socket.on("server-send-counter", (data) => {
            $("#visitors").html(data);
        });

        document.addEventListener('DOMContentLoaded', function() {
            $(".top-score-border").each(function (index) {
                var colorR = Math.floor(Math.random() * 256);
                var colorG = Math.floor(Math.random() * 256);
                var colorB = Math.floor(Math.random() * 256);
                $(this).css(
                    "border-bottom",
                    "5px solid rgb(" + colorR + "," + colorG + "," + colorB + ")"
                );
            });
        })