extends ./layouts/common
block main
    section.competition
        .row
            .col-sm-9
                .card.shadow.border-0.p-2.rounded-3
                    .card-body
                        .d-flex.align-items-center
                            button.btn.btn-primary(data-bs-toggle="modal" data-bs-target="#competitionModal") Tạo phòng
                            .ms-4
                                .input-group
                                    span.input-group-text
                                        ion-icon(name='search')
                                    input.form-control#search-client(type='text', placeholder='Tìm kiếm thành viên')
                            .ms-4
                                select#select-filter-grade.form-select
                                    option(disabled selected value='') -- Chọn khối --
                                    option(value='12') Khối 12
                                    option(value='11') Khối 11
                                    option(value='10') Khối 10
                        .table-responsive.pt-4
                            table.table.table-hover
                                thead
                                    tr.text-center
                                        th(scope="col") #
                                        th(scope="col") Chủ phòng
                                        th(scope="col") Khối
                                        th(scope="col") Chủ đề
                                        th(scope="col") Thành viên
                                        th(scope="col") Trạng thái
                                        th(scope="col")
                                tbody
                                    - var count = 0;
                                    each room in rooms
                                        - count++;
                                        tr.align-middle(style='line-height: 1.5' id=room.roomName)
                                            td.pt-3.pb-3(scope="row")= count
                                            td
                                                img.rounded-pill(src=room.avatar width=30 height=30)
                                                span.ms-2= room.master
                                            td Khối #{room.gradeID}
                                            td 
                                                span.fw-bold #{room.subject[0].name}: 
                                                span #{room.lession[0].name}
                                            td.text-center.length-members #{room.members.length + 1}
                                            td.fw-bold.text-success Đang chờ...
                                            td
                                                a.text-primary(href=`/competition/${room.roomName}`) Tham gia
        .chat
            .msger
                header.msger-header
                    .msger-header-title.d-flex.align-items-center
                        span
                            ion-icon(name='chatbubbles') 
                        span.ms-2.fw-bold Chat
                        span#counter
                    .msger-header-options
                        span.fs-5
                            ion-icon(name="remove")
                main.msger-chat
                    .msg-content
                    .msg-loading
                .msger-inputarea
                    input.msger-input(type='text', placeholder='Aa')
                    button.msger-send-btn(type='button')
                        ion-icon(name='paper-plane')
        .chat-show
            .d-flex.align-items-center.justify-content-center.h-100
                span.text-white.fs-4
                    ion-icon(name='chatbubbles')
            span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger#count-message
    #competitionModal.modal.fade(tabindex='-1', aria-labelledby='competitionModalLabel', aria-hidden='true')
        .modal-dialog(style="transition: all 0.3s ease; max-width: 650px;")
            .modal-content
                .modal-header
                    h5#competitionModalLabel.modal-title Tạo phòng đấu
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    .row
                        .col-sm-6 
                            .mb-2.fw-bold Chọn khối
                            select#select-grade.form-select
                                option(disabled selected value='') -- Chọn khối --
                                option(value='12') Khối 12
                                option(value='11') Khối 11
                                option(value='10') Khối 10
                            //- .btn-group.w-100#select-grade
                            //-     button.btn.btn-outline-secondary(type='button') Chọn khối
                            //-     button#dropdownMenuReference.btn.btn-outline-secondary.dropdown-toggle.dropdown-toggle-split(type='button', data-bs-toggle='dropdown', aria-expanded='false', data-bs-reference='parent')
                            //-         span.visually-hidden Toggle Dropdown
                            //-     ul.dropdown-menu(aria-labelledby='dropdownMenuReference')
                            //-         li.dropdown-item Action
                            //-         li.dropdown-item Another action
                            //-         li.dropdown-item Something else here

                        .col-sm-6
                            .mb-2.fw-bold Chọn môn
                            select#select-subject.form-select
                                option(disabled selected value='') -- Chọn môn --
                    .row.mt-4
                        .col-sm-12
                            .mb-2.fw-bold Chọn chuyên đề
                            select#select-unit.form-select
                                option(disabled selected value='') -- Chọn chuyên đề --
                    .row.mt-4
                        .col-sm-12
                            .mb-2.fw-bold Chọn chủ đề
                            select#select-lession.form-select
                                option(disabled selected value='') -- Chọn chủ đề --

                .modal-footer
                    button.btn.btn-secondary#btn-cancel-room(type='button', data-bs-dismiss='modal') Hủy
                    button.btn.btn-primary#btn-create-room(type='button') Tạo phòng
    script(src="/socket.io/socket.io.js")
    script(src='/js/competition.js')