extends ./layouts/common
block main   
    .slideshow
        .slideshow__wrapper
            .slick__slider
                #carouselBannerCaptions.carousel.slide(data-bs-ride='carousel')
                    .carousel-indicators
                        button.active(type='button', data-bs-target='#carouselBannerCaptions', data-bs-slide-to='0', aria-current='true', aria-label='Slide 1')
                        button(type='button', data-bs-target='#carouselBannerCaptions', data-bs-slide-to='1', aria-label='Slide 2')
                    .carousel-inner
                        each banner in banners
                            .carousel-item
                                .carousel-caption.d-none.d-md-block.text-start
                                    h2.fw-bold= banner.title
                                    p.fs-6= banner.description
                                    a.btn.btn-outline-primary.rounded-pill.mt-2.fs-7(href=banner.url) Truy cập nhóm
                                .carousel-banner
                                    img.w-100(src=banner.image, alt='...')
                    button.carousel-control-prev(type='button', data-bs-target='#carouselBannerCaptions', data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(type='button', data-bs-target='#carouselBannerCaptions', data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next
    .content
        .section__list
            .mt-5
                ul.nav.nav-tabs
                    li.nav-item
                        a.nav-link.active(data-bs-toggle='tab', href='#grade10') Khối 10
                    li.nav-item
                        a.nav-link(data-bs-toggle='tab', href='#grade11') Khối 11
                    li.nav-item
                        a.nav-link(data-bs-toggle='tab', href='#grade12') Khối 12
                .tab-content.mt-5
                    #grade10.container.tab-pane.active
                        .title__container.d-flex.align-items-center.justify-content-between.mb-4
                            h3.fw-bold.mb-0 Môn học khối 10
                            a.d-flex.align-items-center.text-primary(href='/subjects')
                                span Xem tất cả
                                ion-icon.right(name='chevron-forward-outline')
                        .row
                            .swiper-container.swiper1
                                .swiper-wrapper.mb-3
                                    each item in subjects
                                        if item.gradeID === 10
                                            .swiper-slide
                                                .subjects__item
                                                    a.subjects__link(href=`/subjects/${item.slug}`)
                                                        .brand PC3
                                                        .subject
                                                            h4= item.name
                                                            ion-icon(name=item.icon)
                                                    h5.mt-3.subjects__title
                                                        a(href=`/subjects/${item.slug}`)= item.name +" " + "10" 
                                .swiper-button-prev
                                .swiper-button-next
                                .swiper-scrollbar
                    #grade11.container.tab-pane.fade
                        .title__container.d-flex.align-items-center.justify-content-between.mb-4
                            h3.fw-bold.mb-0 Môn học khối 11
                            a.d-flex.align-items-center.text-primary(href='/subjects')
                                span Xem tất cả
                                ion-icon.right(name='chevron-forward-outline')
                        .row
                            .swiper-container.swiper1
                                .swiper-wrapper.mb-3
                                    each item in subjects   
                                        if item.gradeID === 11
                                            .swiper-slide
                                                .subjects__item
                                                    a.subjects__link(href=`/subjects/${item.slug}`)
                                                        .brand PC3
                                                        .subject
                                                            h4= item.name
                                                            ion-icon(name=item.icon)
                                                    h5.mt-3.subjects__title
                                                        a(href=`/subjects/${item.slug}`)= item.name +" " + "11" 
                                .swiper-button-prev
                                .swiper-button-next
                                .swiper-scrollbar
                    #grade12.container.tab-pane.fade
                        .title__container.d-flex.align-items-center.justify-content-between.mb-4
                            h3.fw-bold.mb-0 Môn học khối 12
                            a.d-flex.align-items-center.text-primary(href='/subjects')
                                span Xem tất cả
                                ion-icon.right(name='chevron-forward-outline')
                        .row
                            .swiper-container.swiper1
                                .swiper-wrapper.mb-3
                                    each item in subjects  
                                        if item.gradeID === 12
                                            .swiper-slide
                                                .subjects__item
                                                    a.subjects__link(href=`/subjects/${item.slug}`)
                                                        .brand PC3
                                                        .subject
                                                            h4= item.name
                                                            ion-icon(name=item.icon)
                                                    h5.mt-3.subjects__title
                                                        a(href=`/subjects/${item.slug}`)= item.name +" " + "12" 
                                .swiper-button-prev
                                .swiper-button-next
                                .swiper-scrollbar
        .section__list
            .container.mt-5.pt-4
                .title__container.d-flex.align-items-center.justify-content-between.mb-4
                    h3.fw-bold.mb-0 Bài viết nổi bật
                    a.d-flex.align-items-center.text-primary(href='/blog')
                        span Xem tất cả
                        ion-icon.right(name='chevron-forward-outline')
                .row
                    .swiper-container.swiper2
                        .swiper-wrapper.mb-3
                            each b in blogs
                                .swiper-slide
                                    .blogs__item
                                        a.blogs__link(href=`/blog/${b.slug}`)
                                            img.imagepost(src=b.image, alt='')
                                        h5.blogs__title.mt-3.mb-3
                                            a(href='')= b.title
                                        .post__author
                                            img.avatar(src=b.User[0].avatar, alt='')
                                            .fs-7
                                                strong= b.User[0].fullname
                                                span.dot .
                                                span= moment(b.createdAt).locale("vi").fromNow()
                        .swiper-button-prev
                        .swiper-button-next
                        .swiper-scrollbar
    script(type='text/javascript').
        document.addEventListener('DOMContentLoaded', function() {
            $(".carousel-item").first().addClass("active");

            var swiper1 = new Swiper(".swiper-container.swiper1", {
                slidesPerView: 4,
                spaceBetween: 30,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                scrollbar: {
                    el: ".swiper-scrollbar",
                    draggable: true,
                },
            });
            var swiper2 = new Swiper(".swiper-container.swiper2", {
                slidesPerView: 4,
                spaceBetween: 30,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                scrollbar: {
                    el: ".swiper-scrollbar",
                    draggable: true,
                },
            });
        })