extends ./layouts/common
block main
    .section__infor.shadow
        .row
            .col-sm-4
                .Boxchange__avatar.mt-5
                    .change__avatar
                        a.icon__image
                            ion-icon.icon-image(name='image-outline', aria-hidden='true')
                            p.text-center(style='color: rgb(255, 255, 255)')
                                | Thay avatar
                        img.avatar__profile(src=user.avatar, alt='', style='width: 100%')
            .col-sm-8
                .box__infor
                        h3.infor__title.text-center.mb-4
                            | CHỈNH SỬA THÔNG TIN CÁ NHÂN
                        form(action=`/infor/${user.id}?_method=PUT`, method="POST")
                            div
                                p(style='margin-bottom: 1.2rem')
                                    label Tên tài khoản:
                                    span= user.username
                                p
                                    label H&#x1ECD; t&ecirc;n:
                                    input.infor__input(maxlength='50', type='text', name='fullname', placeholder='Nhập họ và tên', value=user.fullname)
                            div
                                p
                                    label S&#x1ED1; &dstrok;i&#x1EC7;n tho&#x1EA1;i:
                                    input.infor__input(maxlength='50', type='text', name='phone', placeholder='Nhập số điện thoại', value=user.phone)
                            div
                                p
                                    label Ng&agrave;y sinh:
                                    input#birthday.infor__input(type='date', value=moment(user.birthDay).format("YYYY-MM-DD"), name='birthDay')
                            div
                                p
                                    label Địa chỉ:
                                    input#address.infor__input(type='text', placeholder='Nhập địa chỉ hiện tại', value=user.address, name='address')
                            div
                                p(style='margin: 1.4rem 0 1.8rem 0')
                                    label Email:
                                    span= user.email
                                p
                                    | Hãy nhập chính xác 
                                    span(style='color: red') số điện thoại của bạn hoặc người thân 
                                    | để được thầy cô hỗ trợ nhanh chóng!
                            p.box__update
                                button.btn__update(type='submit')
                                    | Cập nhật
    if  success.length > 0
        - var msgSuccess = success 
    script.
        let msgToastSuccess = '#{msgSuccess}';
        if(msgToastSuccess != ''){
            Eggy({
                title: 'Thành công',
                message:  msgToastSuccess,
                type: 'success',
                duration: 5000,
            });
        }  