extends ./layouts/common
block main
    section.subjects
        if user.length > 0 && subjectsStudying.length > 0
            .mb-4
                h4.fw-bold.mb-4 Môn đang học
                .row
                    each item in subjectsStudying
                        .col-sm-3.col-12
                            .subjects__item.mb-5
                                a.subjects__link(href=`/subjects/${item.unit.subject[0].slug}`)
                                    .brand PC3
                                    .subject
                                        h4= item.unit.subject[0].name
                                        ion-icon(name=item.unit.subject[0].icon)
                                h6.mt-3.subjects__title
                                    a(href=`/subjects/${item.unit.subject[0].slug}`)= item.unit.subject[0].name + " " + item.unit.subject[0].gradeID
        ul#myTab.nav.nav-tabs(role='tablist')
            li.nav-item(role='presentation')
                button#grade10-tab.nav-link.active(data-bs-toggle='tab', data-bs-target='#grade10', type='button', role='tab', aria-controls='grade10', aria-selected='true')
                    | Khối 10
            li.nav-item(role='presentation')
                button#grade11-tab.nav-link(data-bs-toggle='tab', data-bs-target='#grade11', type='button', role='tab', aria-controls='grade11', aria-selected='false')
                    | Khối 11
            li.nav-item(role='presentation')
                button#grade12-tab.nav-link(data-bs-toggle='tab', data-bs-target='#grade12', type='button', role='tab', aria-controls='grade12', aria-selected='false')
                    | Khối 12
        .tab-content.mt-5
            #grade10.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='grade10-tab')
                h4.fw-bold.mb-4 Môn học khối 10
                .row
                    each subject in subjects
                        if subject.gradeID === 10
                            .col-sm-3.col-12
                                .subjects__item.mb-5
                                    a.subjects__link(href=`/subjects/${subject.slug}`)
                                        .brand PC3
                                        .subject
                                            h4= subject.name
                                            ion-icon(name=subject.icon)
                                    h6.mt-3.subjects__title
                                        a(href=`/subjects/${subject.slug}`)= subject.name + " 10"
            #grade11.tab-pane.fade(role='tabpanel', aria-labelledby='grade11-tab')
                h4.fw-bold.mb-4 Môn học khối 11
                .row
                    each subject in subjects
                        if subject.gradeID === 11
                            .col-sm-3
                                .subjects__item.mb-5
                                    a.subjects__link(href=`/subjects/${subject.slug}`)
                                        .brand PC3
                                        .subject
                                            h4= subject.name
                                            ion-icon(name=subject.icon)
                                    h6.mt-3.subjects__title
                                        a(href=`/subjects/${subject.slug}`)= subject.name + " 11"
            #grade12.tab-pane.fade(role='tabpanel', aria-labelledby='grade12-tab')
                h4.fw-bold.mb-4 Môn học khối 12
                .row
                    each subject in subjects
                        if subject.gradeID === 12
                            .col-sm-3
                                .subjects__item.mb-5
                                    a.subjects__link(href=`/subjects/${subject.slug}`)
                                        .brand PC3
                                        .subject
                                            h4= subject.name
                                            ion-icon(name=subject.icon)
                                    h6.mt-3.subjects__title
                                        a(href=`/subjects/${subject.slug}`)= subject.name + " 12"
