extends ../layouts/common
block main
    section.learning-result
        h4.fw-bold.mt-1 Kết quả học tập
        .row
            .col-sm-12
                table.table.table-hover.mt-4
                    thead
                        tr
                            th(scope='col') #
                            th(scope='col') Môn học
                            th(scope='col') Tên chuyên đề
                            th(scope='col') Nội dung luyện tập
                            th(scope='col') 
                    tbody
                        if lessions.length > 0
                            - var count = 0;
                            each lession in lessions
                                - count++;
                                tr.align-middle
                                    th.pt-3.pb-3(scope='row')= count
                                    td.pt-3.pb-3= lession.unit.subject[0].name  + ' ' + lession.unit.subject[0].gradeID
                                    td.pt-3.pb-3= lession.unit.name
                                    td.pt-3.pb-3 Bài #{lession.lessionNumber}. #{lession.name}
                                    td.pt-3.pb-3
                                        a.text-primary(href=`/learning/result?name=${lession.slug}`) Xem chi tiết
                        else
                            tr
                                td.text-center(colspan='5')
                                    span.fw-bold Không có dữ liệu.!