extends ../layouts/admin
block content
    section.subject__list
        .col-lg-12.grid-margin.stretch-card
            .card
                .card-body
                    .d-flex.align-items-center.justify-content-between
                        .card-title Danh sách ảnh bìa
                        a.btn.btn-outline-success.btn-icon-text(href='/banners/create') 
                            i.mdi.mdi-upload.btn-icon-prepend
                            | Thêm mới
                    .table-responsive.pt-3
                        table.table.table-hover.text-dark
                            thead
                                tr
                                    th.font-weight-bold #
                                    th.font-weight-bold Ảnh bìa
                                    th.font-weight-bold Tiêu đề
                                    th.font-weight-bold Mô tả
                                    th.font-weight-bold Đường dẫn
                                    th.font-weight-bold.text-center Hành động
                            tbody
                                - var count = 0;
                                each banner in banners
                                    - count++;
                                    tr
                                        td= count
                                        td
                                            img(src=banner.image, alt='...')
                                        td= banner.title
                                        td(style='width: 35%')= banner.description
                                        td.w-25= banner.url
                                        td.text-center(style='width: 15%')
                                            a.btn.btn-secondary.mr-2(href=`/banners/${banner.id}/edit`) Sửa
                                            button.btn.btn-danger(data-toggle="modal" data-target="#deleteBannerModal", data-id=banner._id) Xóa
                                form(name="delete-banner-form", method="POST")
                                #deleteBannerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deleteBannerModalLabel', aria-hidden='true')
                                    .modal-dialog(role='document', style='transition: all 0.3s ease')
                                        .modal-content
                                            .modal-header
                                                strong#deleteBannerModalLabel.modal-title.font-weight-bold.text-dark.text-uppercase Xóa ảnh bìa
                                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                    span(aria-hidden='true') &times;
                                            .modal-body.text-dark
                                                span.d-block.mb-2.mt-2 Hành động này không thể khôi phục!!!
                                                span.d-block.mb-2 Bạn có chắc chắn muốn xóa ảnh bìa này không???
                                            .modal-footer
                                                button.btn.btn-secondary(type='button', data-dismiss='modal') Hủy bỏ
                                                button.btn.btn-danger#btn-delete-banner(type='button') Chắc chắn
    if errors.length > 0
        - var msgError = errors
    else if success.length > 0
        - var msgSuccess = success
    script.
        document.addEventListener('DOMContentLoaded', function() {
            var deleteBannerModal = $("#deleteBannerModal");
            var bannerID;
            var deleteBannerForm = $('form[name="delete-banner-form"]');
            var btnDeleteBanner = $("#btn-delete-banner");
            
            let msgToastSuccess = '#{msgSuccess}';
            if(msgToastSuccess != '') {
                Eggy({
                    title: 'Thành công',
                    message:  msgToastSuccess,
                    type: 'success',
                    duration: 5000,
                });
            };

            let msgToastError = '#{msgError}';
            if(msgToastError != '') {
                Eggy({
                    title: 'Oops... Có gì đó không đúng',
                    message:  msgToastError,
                    type: 'warning',
                    duration: 5000,
                });
            };

            deleteBannerModal.on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                bannerID = button.data('id');
            });

             //When delete button btn clicked
            btnDeleteBanner.click(function () {
                deleteBannerForm.attr("action", "/banners/" + bannerID + "?_method=DELETE");
                deleteBannerForm.submit();
            });
        });
