extends ../layouts/admin
block content
    section.user__edit 
        .col-lg-10.grid-margin.stretch-card.mx-auto
            .card
                .card-body
                    .d-flex.align-items-center.justify-content-between
                        h4.card-title
                            | Chỉnh sửa tài khoản người dùng
                        a.btn.btn-outline-warning.btn-icon-text(href='/user/list') 
                            i.mdi.mdi-reload.btn-icon-prepend
                            | Quay lại
                    form.form-sample(method='POST' action=`/user/${user._id}/update?_method=PUT`)
                        p.card-description.text-dark.font-weight-bold Thông tin cá nhân
                        .row
                            .col-md-6
                                .form-group.row
                                    label.text-dark.col-sm-3.col-form-label Họ tên
                                    .col-sm-9
                                        input.form-control(type='text' name="fullname" value=`${user.fullname}`)
                            .col-md-6
                                .form-group.row
                                    label.text-dark.col-sm-3.col-form-label Ch&#x1EE9;c v&#x1EE5;
                                    .col-sm-9
                                        select.form-control.h-75(name= "roleID")
                                            each role in roles
                                                option(value=role._id selected=role.id==user.roleID)= role.description
                        .row
                            .col-md-6
                                .form-group.row
                                    label.text-dark.col-sm-3.col-form-label Ng&agrave;y sinh
                                    .col-sm-9
                                        if user.birthDay
                                            - var birthDay= moment(user.birthDay).format("DD-MM-YYYY") 
                                            input.form-control(placeholder='30/01/2000' name="birthDay" value=`${birthDay}`)
                                        else 
                                            input.form-control(placeholder='30/01/2000' name="birthDay" value=``)
                            .col-md-6
                                .form-group.row
                                    label.text-dark.col-sm-3.col-form-label &Dstrok;&#x1ECB;a ch&#x1EC9;
                                    .col-sm-9
                                        input.form-control(type='text' name="address" value=`${user.address}`)

                        p.card-description.text-dark.font-weight-bold Thông tin tài khoản
                        .row
                            .col-md-6
                                .form-group.row
                                    label.text-dark.col-sm-3.col-form-label
                                        | Email
                                    .col-sm-9
                                        input.form-control(type='text' name="email" value=`${user.email}`)
                            .col-md-6
                                .form-group.row
                                    label.text-dark.col-sm-3.col-form-label
                                        | S&#x1ED1; &dstrok;i&#x1EC7;n
                                        | tho&#x1EA1;i
                                    .col-sm-9
                                        input.form-control(type='text' name="phone" value=`${user.phone}`)
                        .text-center
                            button.btn.btn-primary(type='submit')
                                | Cập nhật
    //form add role
    #add-role-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                form(method="POST" action="/user/add-role")
                    .modal-header
                        h5#exampleModalLabel.modal-title(style='font-weight: bold;') Thêm mới chức vụ
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        .row(style="flex-wrap: nowrap; height: 40px; margin-right: 0px; margin-left: -15px;  margin-bottom: 10px")
                            label.col-form-label(style="width: 20%; margin-left: 10px;") Mã chức vụ
                            input.form-control(type="text" name="roleName" style="width: 85%; margin-left: 10px;")
                        .row(style="flex-wrap: nowrap; height: 40px; margin-right: 0px; margin-left: -15px")
                            label.col-form-label(style="width: 20%; margin-left: 10px;") Mô tả
                            input.form-control(type="text" name="description" style="width: 85%; margin-left: 10px;")
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') H&#x1EE7;y
                        button#btn-delete-blog.btn.btn-success(type='submit') Thêm mới
