extends ../layouts/admin
block content
    section.statistical__list
        .col-lg-12.grid-margin.stretch-card
            .card
                .card-body
                    .d-flex.align-items-center.justify-content-between
                        .card-title.text-uppercase #{subject.name} #{subject.gradeID}
                        .d-flex.align-items-center
                            if ranks.length > 0
                                form.mb-0(action=`/statisticals/${subject._id}/export`, method='POST')
                                    button.btn.btn-outline-primary.btn-icon-text(type='submit')
                                        i.mdi.mdi-file-excel.btn-icon-prepend
                                        | Xuất excel
                            a.btn.btn-outline-warning.btn-icon-text.ml-4(href='/subjects/list') 
                                i.mdi.mdi-reload.btn-icon-prepend
                                | Quay lại
                            
                    hr
                    .card-title Thống kê kết quả học tập
                    .table-responsive.pt-3
                        table.table.table-hover.text-dark
                            thead
                                tr
                                    th.font-weight-bold #
                                    th.font-weight-bold Thành viên
                                    th.font-weight-bold Email
                                    th.font-weight-bold Tổng điểm tích lũy
                                    th.font-weight-bold Tiến trình học
                                    th.font-weight-bold Đánh giá
                            tbody
                                if ranks.length > 0
                                    - var count = 0;
                                    each rank in ranks
                                        - count++;
                                        - var percent = Math.round((rank.totalLessionDone/countLessions)*100);
                                        tr
                                            td= count
                                            td
                                                a.d-flex.align-items-center(href=`/user/${rank.user[0]._id}/update`)
                                                    img(src=rank.user[0].avatar)
                                                    span.ml-2= rank.user[0].fullname
                                            td= rank.user[0].email
                                            td= Math.round(rank.totalScore) + " điểm"
                                            td Hoàn thành #{rank.totalLessionDone}/#{countLessions} bài học (#{percent}%)
                                            if percent <= 100 && percent >= 50
                                                td Đạt
                                            else
                                                td Chưa đạt
                                else
                                    tr
                                        td.text-center(colspan='6') Không có dữ liệu!!!
                    if pages > 0
                        nav.d-flex.align-items-center.justify-content-center
                            ul.pagination.mt-4
                                if current == 1
                                    li.page-item.disabled
                                        a.page-link(href='#', aria-label='Previous')
                                            span(aria-hidden='true') &laquo;
                                            span.sr-only Previous
                                else
                                    li.page-item
                                        a.page-link(href=`/statisticals?subject=${subject._id}`, aria-label='Previous')
                                            span(aria-hidden='true') &laquo;
                                            span.sr-only Previous
                                - var i = (Number(current) > 3 ? Number(current) - 2 : 1);
                                if i !== 1
                                    li.page-item.disabled
                                        a.page-link(href='#') ...
                                - for(; i <= (Number(current) + 2) && i <= pages; i++)
                                    if i == current
                                        li.page-item.active
                                            a.page-link(href=`/statisticals?subject=${subject._id}&page=${i}`)= i
                                    else
                                        li.page-item
                                            a.page-link(href=`/statisticals?subject=${subject._id}&page=${i}`)= i
                                    if i == Number(current) + 2 && i < pages
                                        li.page-item.disabled
                                            a.page-link(href='#') ...
                                if current == pages
                                    li.page-item.disabled
                                        a.page-link(href='#', aria-label='Next')
                                            span(aria-hidden='true') &raquo;
                                            span.sr-only Next
                                else
                                    li.page-item
                                        a.page-link(href=`/statisticals?subject=${subject._id}&page=${pages}`, aria-label='Next')
                                            span(aria-hidden='true') &raquo;
                                            span.sr-only Next